@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />

<script>

</script>

<div id="blog-landing">
    @* Left panel *@
    <div class="white-panel">
        <div class="sidebar-header">
            <div id="weather-sidebar"></div>
        </div>

        <div class="sidebar-list">
            <a href="#"><i class="fa fa-fw fa-star-o"></i><span>Wishlist</span></a>
            <a href="#"><i class="fa fa-fw fa-building-o"></i><span>Discover rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-book"></i><span>My rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-street-view"></i><span>Look around</span></a>
            <a href="#"><i class="fa fa-fw fa-rocket"></i><span>Hot trend</span></a>
        </div>
    </div>

    @foreach (var post in ViewData["listPost"] as List<FlyAwayPlus.Models.Post>)
    {
        var photo = ViewData["listPhotoDict"] as Dictionary<int, FlyAwayPlus.Models.Photo>;
        var place = ViewData["listPlaceDict"] as Dictionary<int, FlyAwayPlus.Models.Place>;
        var user = ViewData["listUserDict"] as Dictionary<int, FlyAwayPlus.Models.User>;

        <div class="white-panel">
            <div class="dark-wrapper">
                <img src="@(photo[post.postID].url.StartsWith("http") ? "" : "/Images/UserUpload/")@photo[post.postID].url" alt="ALT">
                <ul class="post-actions">
                    <li>
                        <button type="button" class="btn btn-primary btn-circle btn-lg btn-plus"><i class="glyphicon glyphicon-plus"></i></button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger btn-circle btn-lg btn-heart"><i class="glyphicon glyphicon-heart"></i></button>
                    </li>
                </ul>
            </div>
            <div class="panel-content-wrapper">
                <h1>
                    <a href="/Post/Index/@post.postID">
                        <i class="fa fa-map-marker"></i>&nbsp; @place[post.postID].name
                    </a>
                </h1>
                @if (!string.IsNullOrEmpty(post.content))
                {
                    <div class="divider"></div>
                    <p>@post.content</p>
                }

                <div class="user-interacted-area">
                    <i class="fa fa-thumbs-o-up"></i>&nbsp;<b class="like-count">4</b>&nbsp;
                    <i class="fa fa-thumbs-o-down"></i>&nbsp;1&nbsp;
                    <i class="fa fa-comment-o"></i>&nbsp;25&nbsp;
                    <i class="fa fa-group"></i>&nbsp;18
                </div>
                <div class="divider"></div>
                <div class="user-info">
                    <img src="@user[post.postID].avatar" alt="@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)" class="avatar" />
                    <div>
                        <a href="/User/Index/@user[post.postID].userID">
                            <div class="name-user">@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)</div>
                        </a>
                        <div class="post-time">@post.dateCreated</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(window).load(function () {
        setBlocksit();
    });
    //window resize
    $(window).resize(function () {
        setBlocksit();
    });

    function setBlocksit() {
        var conWidth = $("#blog-landing").width();
        //my container width
        var gridwidth = 212;
        //alert(conWidth);
        var col = conWidth / gridwidth;
        //alert(col);
        $("#blog-landing").BlocksIt({
            numOfCol: Math.floor(col),
            offsetX: 8,
            offsetY: 8
        });
    }

    $(function () {
        // Animate user action buttons.
        $(".dark-wrapper").hover(function () {
            $(this).find("img").fadeTo(500, 0.5);

            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.animate({ top: '20px' }, "slow");
        }, function () {
            $(this).find("img").fadeTo(500, 1);

            var postActions = $(this).find(".post-actions");

            postActions.animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });

        // Like post.
        $(".btn-heart").click(function () {
            var likeIcon = $(this).parentsUntil(".white-panel")
                                  .parent()
                                  .find(".fa-thumbs-o-up");

            likeIcon.toggleClass("interacted")
                    .toggleClass("fa-thumbs-up");

            var likeCountElement = $(this).parentsUntil(".white-panel").parent()
                .find(".like-count");

            if (likeIcon.hasClass("interacted")) {
                likeCountElement.text(parseInt(likeCountElement.text()) + 1);
            } else {
                likeCountElement.text(parseInt(likeCountElement.text()) - 1);
            }
        });

        // Sidebar - load weather.
        navigator.geolocation.getCurrentPosition(function (position) {
            var loadWeather = function (location, woeid) {
                $.simpleWeather({
                    location: location,
                    woeid: woeid,
                    unit: 'c',
                    success: function (weather) {
                        html = '<h2><div style="position: absolute; top: -10px; left: 25px"><i class="icon-' + weather.code + '"></i></div> ' + weather.temp + '&deg;' + weather.units.temp + '</h2>';
                        html += weather.city;

                        $("#weather-sidebar").html(html);
                    },
                    error: function (error) {
                        $("#weather-sidebar").html('<p>' + error + '</p>');
                    }
                });
            };
            loadWeather(position.coords.latitude + ',' + position.coords.longitude); //load weather using your lat/lng coordinates
        });
    });

</script>