@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<link href="~/Content/HomePage/home.css" rel="stylesheet" />

<script src="~/Scripts/Home/home.js"></script>

<div id="blog-landing">
    @foreach (var post in ViewData["listPost"] as List<FlyAwayPlus.Models.Post>)
    {
        var photo = ViewData["listPhotoDict"] as Dictionary<int, FlyAwayPlus.Models.Photo>;
        var place = ViewData["listPlaceDict"] as Dictionary<int, FlyAwayPlus.Models.Place>;
        var user = ViewData["listUserDict"] as Dictionary<int, FlyAwayPlus.Models.User>;

        <div class="white-panel">
            <div class="dark-wrapper">
                <img src="@(photo[post.postID].url.StartsWith("http") ? "" : "/Images/UserUpload/")@photo[post.postID].url" alt="ALT">
                <ul class="post-actions" style="padding-left:0px;">
                    <li>
                        <a href="#" role="@post.postID" class="btn btn-primary btn-circle btn-lg btn-plus"><i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" role="@post.postID"  class="btn btn-primary btn-circle btn-lg btn-like"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </li>
                    <li>
                        <a href="#" role="@post.postID" class="btn btn-primary btn-circle btn-lg btn-dislike"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                    </li>
                </ul>
            </div>
            <div class="panel-content-wrapper">
                <h1>
                    <a href="/Post/Index/@post.postID">
                        <i class="fa fa-map-marker"></i>&nbsp; @place[post.postID].name
                    </a>
                </h1>
                @if (!string.IsNullOrEmpty(post.content))
                {
                    <div class="divider"></div>
                    <p>@post.content</p>
                }

                <div class="user-interacted-area">
                    <i class="fa fa-thumbs-o-up"></i>&nbsp;<b class="like-count">4</b>&nbsp;
                    <i class="fa fa-thumbs-o-down"></i>&nbsp;<b class="dislike-count">1</b>&nbsp;
                    <i class="fa fa-comment-o"></i>&nbsp;25&nbsp;
                    <i class="fa fa-group"></i>&nbsp;18
                </div>
                <div class="divider"></div>
                <div class="user-info">
                    <img src="@user[post.postID].avatar" alt="@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)" class="avatar" />
                    <div>
                        <a href="/User/Index/@user[post.postID].userID">
                            <div class="name-user">@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)</div>
                        </a>
                        <div class="post-time">@post.dateCreated</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        // Animate user action buttons
        

        //Like post
        
    });
</script>