@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />

<div class="cd-testimonials-wrapper">
    <ul class="cd-testimonials">
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="cd-author">
                <img src="/Images/avatar/avatar-1.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>CEO, AmberCreative</li>
                </ul>
            </div>
        </li>
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.</p>
            <div class="cd-author">
                <img src="/Images/avatar/avatar-2.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>Designer, CodyHouse</li>
                </ul>
            </div>
        </li>
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
            <div class="cd-author">
                <img src="/Images/avatar/avatar-3.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>CEO, CompanyName</li>
                </ul>
            </div>
        </li>

    </ul> <!-- cd-testimonials -->
    <div class="cd-see-all"></div>
</div> <!-- cd-testimonials-wrapper -->
<section id="blog-landing">
    @foreach (var post in ViewData["listPost"] as List<FlyAwayPlus.Models.Post>)
    {
        var photo = ViewData["listPhotoDict"] as Dictionary<int, FlyAwayPlus.Models.Photo>;
        var place = ViewData["listPlaceDict"] as Dictionary<int, FlyAwayPlus.Models.Place>;
        var user = ViewData["listUserDict"] as Dictionary<int, FlyAwayPlus.Models.User>;
        
        <article class="white-panel">
            <img src="@photo[post.postID].url" alt="ALT">
            <h1>
                <a href="/Post/Index/@post.postID">
                    <i class="fa fa-map-marker">  @place[post.postID].name</i>
                </a>
            </h1>
            <div class="divider"></div>
            <p>@post.content</p>
            <div class="divider"></div>
            <div class="user-info">
                <div class="avatar">
                    <img src="@user[post.postID].avatar" alt="@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)" class="img-circle" />
                </div>
                <div class="col-md-5">
                    <a href="/User/Index/@user[post.postID].userID"><div class="name-user">@String.Format("{0} {1}", user[post.postID].firstName, user[post.postID].lastName)</div></a>
                    <div class="post-time">@post.dateCreated</div>
                </div>
                <a href="#"><span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span></a>
                <a href="#"><span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span></a>
            </div>
        </article>
    }
    <!--
    <article class="white-panel">
        <img src="http://www.mediademon.com/wp-content/uploads/2013/07/Blog-Post-Imagery5.png" alt="ALT">
        <h1><a href="../PostDetail/Index">Putting users first with flat design</a></h1>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit.</p>
        <div class="divider"></div>
        <div class="user-info">
            <div class="avatar">
                <img src="/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
            </div>
            <div class="col-md-5">
                <div class="name-user">Duc Filan</div>
                <div class="post-time">6 hours ago</div>
            </div>
            <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
            <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
        </div>
    </article>
    -->
</section>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>

<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(document).ready(function () {

        $('#blog-landing').pinterest_grid({
            no_columns: 4,
            padding_x: 20,
            padding_y: 20,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

    });
</script>