@using FlyAwayPlus.Helpers
@using PagedList
@using PagedList.Mvc

@{
    Layout = null;
}
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <div class="container" id="mainTab">
        <h2>Admin Page</h2>
        @using (Ajax.BeginForm("LogOut", "Admin",
                new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
        {
            <button>Log out</button>
            <p></p>
        }
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#user">User</a></li>
            <li><a data-toggle="tab" href="#reportPost">Reported post</a></li>
            <li><a data-toggle="tab" href="#reportUser">Reported user</a></li>
            <li><a data-toggle="tab" href="#statistic">Statistic</a></li>
        </ul>

        <div class="tab-content">
            <div id="user" class="tab-pane fade">
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @try
                            {
                                foreach (var user in ViewBag.OnePageOfUsers)
                                {
                                    <tr>
                                        <td>@user.userID</td>
                                        <td>@user.firstName</td>
                                        <td>@user.lastName</td>
                                        <td>@user.email</td>
                                        @if (user.status.Equals("active"))
                                        {
                                            <td>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" onclick="lock(@user.userID)" name="onoffswitch_@user.userID" class="onoffswitch-checkbox" id="myonoffswitch_@user.userID" checked>
                                                    <label class="onoffswitch-label" for="myonoffswitch_@user.userID">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" onclick="unLock(@user.userID)" name="onoffswitch_@user.userID" class="onoffswitch-checkbox" id="myonoffswitch_@user.userID">
                                                    <label class="onoffswitch-label" for="myonoffswitch_@user.userID">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            catch (Exception e)
                            {
                                Console.WriteLine(e.ToString());
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfUsers, page => Url.Action("Main", new { page, tab = "user" }))
                </form>
            </div>

            <div id="reportPost" class="tab-pane fade">
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Post ID</th>
                                <th>Content report</th>
                                <th>User Report ID</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.NumberOfReportPost != 0)
                            {
                                try
                            {
                                if (ViewBag.OnePageOfReportPosts != null)
                                {
                                    foreach (var reportPost in ViewBag.OnePageOfReportPosts)
                                    {
                                        <tr>
                                            <td>@reportPost.postID</td>
                                            <td>@reportPost.contentReport</td>
                                            <td>@reportPost.userReportID</td>
                                            <td><a href="/Admin/ViewPost/@reportPost.postID" type="button" class="btn btn-primary">View post</a></td>
                                            <td>
                                                <a onclick="lockPost(@reportPost.postID, @reportPost.userReportID)" class="btn btn-primary">Lock post</a>
                                                <a onclick="cancelReportPost(@reportPost.postID, @reportPost.userReportID)" class="btn btn-primary">Cancel</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            catch (Exception e)
                            {
                                Console.WriteLine(e.ToString());
                            }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfReportPosts, page => Url.Action("Main", new { page, tab = "reportPost" }))
                </form>
            </div>

            <div id="reportUser" class="tab-pane fade">
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User Report ID</th>
                                <th>User Reported ID</th>
                                <th>Type report</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.NumberOfReportUser != 0)
                            {
                                try
                                {
                                    foreach (var reportUser in ViewBag.OnePageOfReportUsers)
                                    {
                                        <tr>
                                            <td>@reportUser.userReportID</td>
                                            <td>@reportUser.userReportedID</td>
                                            <td>@reportUser.contentReport</td>
                                            <td>
                                                <a onclick="lockReportUser(@reportUser.userReportedID, @reportUser.userReportID)" class="btn btn-primary">Lock user</a>
                                                <a onclick="cancelReportUser(@reportUser.userReportedID, @reportUser.userReportID)" class="btn btn-primary">Cancel</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                catch (Exception e)
                                {
                                    Console.WriteLine(e.ToString());
                                }
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfReportUsers, page => Url.Action("Main", new { page, tab = "reportUser" }))
                </form>
            </div>

            <div id="statistic" class="tab-pane fade">
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Number of user</th>
                                <th>Number of report post</th>
                                <th>Number of report user</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>@ViewBag.NumberOfUser</th>
                                <th>@ViewBag.NumberOfReportPost</th>
                                <th>@ViewBag.NumberOfReportUser</th>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        var tab = '@ViewBag.Tab';
        if (tab.length == 0 || tab == 'user')
        {
            $('.nav-tabs a[href="#user"]').tab('show');
        }
        else
        {
            $('.nav-tabs a[href="#@ViewBag.Tab"]').tab('show');
        }
});

function lock(id) {
    var controller, data;
    if ($('#myonoffswitch_' + id).is(':checked')) {
        controller = "/Admin/UnlockUser/";
        data = {
            userId: id
        };
        commonModule.callAjax(controller, data, null);
        //$('#myonoffswitch_' + id).prop('checked', false);
    } else {
        controller = "/Admin/LockUser/";
        data = {
            userId: id
        };
        commonModule.callAjax(controller, data, null);
    }
}

function unLock(id) {
    var controller, data;
    if ($('#myonoffswitch_' + id).is(':checked')) {
        controller = "/Admin/UnlockUser/";
        data = {
            userId: id
        };
        commonModule.callAjax(controller, data, null);
        //$('#myonoffswitch_' + id).prop('checked', true);
    } else {
        controller = "/Admin/LockUser/";
        data = {
            userId: id
        };
        commonModule.callAjax(controller, data, null);
    }
}

function lockPost(postID,userReportID) {
    $.ajax({
        url: "/Admin/LockReportPost/",
        type: 'POST',
        dataType: 'json',
        data: {
            postId: postID,
            userReportID: userReportID
        },
        success: function (data) {
            if (data == true) {
                alert("This post is locked!");
                @{
                    ViewBag.Tab = "reportPost";
                }
                location.reload();
            } else {
                alert("Error!");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });
}

function cancelReportPost(postID,userReportID) {
    $.ajax({
        url: "/Admin/CancelReportPost/",
        type: 'POST',
        dataType: 'json',
        data: {
            postId: postID,
            userReportID: userReportID
        },
        success: function (data) {
            if (data == true) {
                alert("This report has been canceled");
                @{
                    ViewBag.Tab = "reportPost";
                }
                location.reload();
            } else {
                alert("Error!");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });
}

function lockReportUser(userReportedID, userReportID) {
    $.ajax({
        url: "/Admin/LockReportUser/",
        type: 'POST',
        dataType: 'json',
        data: {
            userReportedID: userReportedID,
            userReportID: userReportID
        },
        success: function (data) {
            if (data == true) {
                alert("This user is locked!");
                location.reload();
            } else {
                alert("Error!");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });
}

function cancelReportUser(userReportedID, userReportID) {
    $.ajax({
        url: "/Admin/CancelReportUser/",
        type: 'POST',
        dataType: 'json',
        data: {
            userReportedID: userReportedID,
            userReportID: userReportID
        },
        success: function (data) {
            if (data == true) {
                alert("Thiis report has been canceled");
                location.reload();
            } else {
                alert("Error!");
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });
}
</script>
<style>
    .onoffswitch {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "ACTIVE";
            padding-left: 10px;
            background-color: #34A7C1;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "LOCK";
            padding-right: 10px;
            background-color: #EEEEEE;
            color: #999999;
            text-align: right;
        }

    .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 56px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>
