@using FlyAwayPlus.Helpers
@using FlyAwayPlus.Models

@{
    Layout = null;
    var post = ViewData["post"] as Post;
    var user = ViewData["user"] as User;
    var photo = ViewData["photo"] as List<Photo>;
    var listComment = ViewData["listComment"] as List<Comment>;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPost</title>
</head>
    <body>
        <div class="container">
            <div class="user-info">
                <img src="@user.Avatar" alt="@String.Format("{0} {1}", user.FirstName, user.LastName)" height="60" width="60" style="display: inline-block;" />
                <p style="display: inline-block;">@user.FirstName @user.LastName</p>
            </div>

            <h3>Post</h3>
            <div class="post-area">
                <div class="post-content">
                    @foreach (var x in photo)
                    {
                        <img src="/Images/UserUpload/@x.Url" style="max-height: 100%; margin: auto; display: inline-block;" />
                    }
                    <p><b>Date created:</b> @post.DateCreated<br /></p>
                    <p><b>Content:</b> @post.Content</p>
                </div>
                
                <div>
                    <p><b>Comment:</b></p>
                    @foreach (var x in listComment)
                    {
                        var a = GraphDatabaseHelpers.Instance.FindUser(x);
                        <p>@x.ToRealtime() - @a.FirstName @a.LastName : @x.Content</p>
                    }
                </div>
            </div>
        </div>
            
</body>
</html>
