@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Room List";
}

<div class="filer-wrapper col-md-12">
    <ul class="tabs-cat text-center row">
        <li class="cate-item col-xs-6 active">
            <a data-toggle="tab" href="#room-list-filter-tab" title="" aria-expanded="true">
                <span>Search for rooms</span>
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="cate-item col-xs-6">
            <a data-toggle="tab" href="#room-list-plan-create-room-tab" title="" aria-expanded="false">
                <span>Create a room</span>
                <i class="fa fa-thumb-tack"></i>
            </a>
        </li>
    </ul>
    <!-- End Tabs Cat -->
    <!-- Tabs Content -->
    <div class="tab-content" style="padding-top: 0;">
        <!-- Fitering -->
        <div class="form-cn room-list-filter-tab tab-pane active" id="room-list-filter-tab">
            @using (Html.BeginForm("Index", "Room", FormMethod.Get))
            {
                <div class="form-search col-md-12 clearfix">
                    <div class="row">
                        <div class="form-field col-md-6">
                            <input type="text" name="startplace" class="field-input" placeholder="Start place" value="@Request["startplace"]">
                        </div>
                        <div class="form-field col-md-6">
                            <input type="text" name="targetplace" class="field-input" placeholder="Target place" value="@Request["targetplace"]">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-field field-date col-md-3">
                            <input type="text" name="startdate" class="field-input cal-select-start" readonly placeholder="Start date" value="@Request["startdate"]">
                        </div>
                        <div class="form-field field-date col-md-3">
                            <input type="text" name="returndate" class="field-input cal-select-end" readonly placeholder="Return date" value="@Request["returndate"]">
                        </div>
                        <div class="form-field field-select col-md-3">
                            <div class="select">
                                <span>Slots</span>
                                <select name="slotOption">
                                    <option value="0">Slots</option>
                                    <option value="1" @(Request["slotOption"] == "1" ? "selected" : "")>1-5</option>
                                    <option value="2" @(Request["slotOption"] == "2" ? "selected" : "")>5-10</option>
                                    <option value="3" @(Request["slotOption"] == "3" ? "selected" : "")>More than 10</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-submit col-md-3">
                            <button type="submit" class="btn btn-primary" style="width: 100%; height: 50px; -ms-border-radius: 4px; border-radius: 4px;">Search</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End Fitering -->
        <!-- Creating -->
        <div class="form-cn room-list-filter-tab tab-pane" id="room-list-plan-create-room-tab">
            @using (Html.BeginForm("CreateRoom", "Room", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="room-create-wrapper col-md-12 clearfix">
                    <div class="col-md-6">
                        <div class="form-field width-100-pcnt">
                            <input type="text" name="roomname" class="field-input" placeholder="Room name">
                        </div>
                        <div class="form-field width-100-pcnt">
                            <textarea name="roomdesc" class="field-input" placeholder="Room description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 0">
                        <div class="form-field width-100-pcnt field-date">
                            <input type="text" name="startdate" class="field-input cal-select-start" readonly placeholder="Start date">
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 0">
                        <div class="form-field width-100-pcnt field-date">
                            <input type="text" name="enddate" class="field-input cal-select-end" readonly placeholder="End date">
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 0">
                        <div class="form-field width-100-pcnt">
                            <input type="text" name="startplace" class="field-input start-geocomplete" placeholder="Start place">
                            <div id="start-geo-detail-add">
                                <input type="hidden" data-start="lat" name="start_lat" />
                                <input type="hidden" data-start="lng" name="start_lng" />
                                <input type="hidden" data-start="name" name="start_name" />
                                <input type="hidden" data-start="formatted_address" name="start_formatted_address" />
                            </div>
                        </div>
                        <div class="form-field width-100-pcnt">
                            <input type="text" name="targetplace" class="field-input end-geocomplete" placeholder="Target place">
                            <div id="end-geo-detail-add">
                                <input type="hidden" data-end="lat" name="end_lat" />
                                <input type="hidden" data-end="lng" name="end_lng" />
                                <input type="hidden" data-end="name" name="end_name" />
                                <input type="hidden" data-end="formatted_address" name="end_formatted_address" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-field" style="padding-top: 0; max-width: 160px">
                            <input type="text" name="maxnoslots" class="field-input" placeholder="No of slots">
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" value="Create">
                    </div>
                </div>
            }
        </div>
        <!-- End Creating -->
    </div>
</div>

<div class="map-canvas2"></div>

<div class="room-list-wrapper">
    @Html.Partial("_ListRoomPartial")
</div>

@Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/jquery.geocomplete.js"></script>

<script>
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#g-plan-start').datepicker({
        format: "yyyy-mm-dd",
        onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    });
    var checkin = $('.cal-select-start').datepicker({
        format: "yyyy-mm-dd",
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > checkout.date.valueOf()) {
            var newDate = new Date(ev.date);
            newDate.setDate(newDate.getDate() + 1);
            checkout.setValue(newDate);
        }
        checkin.hide();
        $('.cal-select-end')[0].focus();
    }).data('datepicker');
    var checkout = $('.cal-select-end').datepicker({
        format: "yyyy-mm-dd",
        onRender: function (date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        checkout.hide();
    }).data('datepicker');

    $(".start-geocomplete").geocomplete({
        map: ".map-canvas2",
        details: "#start-geo-detail-add",
        detailsAttribute: "data-start"
    });
    $(".end-geocomplete").geocomplete({
        map: ".map-canvas2",
        details: "#end-geo-detail-add",
        detailsAttribute: "data-end"
    });
</script>