@using FlyAwayPlus.Models

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>

@{
    ViewBag.Title = "Room Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/RoomPage/room-detail.css" rel="stylesheet" />
<link href="~/Content/Room/room-list.css" rel="stylesheet" />

@section scripts{
    <script>
        $(document).ready(function () {
            var sourceFullView = { url: '/Room/GetPlanEvents/' };
            var calLoading = true;

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                height: 500,
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: '/Room/GetPlanEvents/',
                eventClick: function (calEvent, jsEvent, view) {
                    alert('You clicked on event id: ' + calEvent.id
                        + "\nSpecial ID: " + calEvent.someKey
                        + "\nAnd the title is: " + calEvent.title);
                },

                eventDrop: function(event, delta, revertFunc) {
                    if (confirm("Confirm move?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },

                eventResize: function(event, delta, revertFunc) {

                    if (confirm("Confirm change appointment length?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },

                dayClick: function (date, allDay, jsEvent, view) {
                    $('#eventTitle').val("");
                    $('#eventDate').val(moment(date).format('YYYY-MM-DD'));
                    $('#eventTime').val(moment(date).format('HH:mm:ss'));
                    ShowEventPopup(date);
                },

                viewRender: function (view, element) {
                    if (!calLoading) {
                        $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }

            });

            calLoading = false;
        });

        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupEventForm').modal(false);
        });

        $('#btnPopupSave').click(function () {

            $('#popupEventForm').modal(false);

            var dataRow = {
                'Title': $('#eventTitle').val(),
                'NewEventDate': $('#eventDate').val(),
                'NewEventTime': $('#eventTime').val(),
                'NewEventDuration': $('#eventDuration').val()
            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Room/SaveEvent",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('New event saved!');
                    }
                    else {
                        alert('Error, could not save event!');
                    }
                }
            });
        });

        function ShowEventPopup(date) {
            ClearPopupFormValues();
            $('#popupEventForm').modal();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(eventId, eventStart, eventEnd) {

            var dataRow = {
                'id': eventId,
                'newEventStart': eventStart,
                'newEventEnd': eventEnd
            }

            $.ajax({
                type: 'POST',
                url: "/Room/UpdatePlanEvent/",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }
    </script>
}

@{
    var roomInfo = ViewData["roomInfo"] as Room;
    var admin = ViewData["admin"] as User;
    var listUserInRoom = ViewData["listUserInRoom"] as List<User>;
    var listUserRequestJoinRoom = ViewData["listUserRequestJoinRoom"] as List<User>;
    var listMessage = ViewData["listMessage"] as List<Message>;
    var listUserOwnMessage = ViewData["listUserOwnMessage"] as List<User>;
    int userID = Int16.Parse(@Session["userID"].ToString());

    var listPost = ViewData["listPost"] as List<Post>;
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<Photo>>;
    var listVideoDict = ViewData["listVideoDict"] as Dictionary<int, Video>;
    var listUserDict = ViewData["listUserDict"] as Dictionary<int, User>;
    var dictDislikeCount = ViewData["dislikeCount"] as Dictionary<int, int>;
    var dictLikeCount = ViewData["likeCount"] as Dictionary<int, int>;
    var dictCommentCount = ViewData["commentCount"] as Dictionary<int, int>;
    var dictUserCommentCount = ViewData["userCommentCount"] as Dictionary<int, int>;
    var isLikeDict = ViewData["isLikeDict"] as Dictionary<int, bool>;
    var isDislikeDict = ViewData["isDislikeDict"] as Dictionary<int, bool>;
    var dictListComment = ViewData["dictListComment"] as Dictionary<int, List<Comment>>;
    int roomId = int.Parse(ViewData["roomID"].ToString());
}
<div id="room-detail-wrapper">
    <div>
        <!--INFO-->
        <div class="col-md-10 room-detail-infor">
            <div class="room-detail-cover" style="background-image: url(@(!string.IsNullOrWhiteSpace(roomInfo.PhotoCoverUrl) ? roomInfo.PhotoCoverUrl : "/Images/background/nhatrang2.jpg"))"><!--BG--></div>
            <div class="room-detail-darkwrapper"></div>
            <div class="room-detail-infor-text">
                <h3>@roomInfo.RoomName</h3>
                <div class="light-divider"><!--DIVIDER--></div>
                <div class="room-detail-infor-description">
                    @roomInfo.Description
                </div>

                <ul class="room-detail-infor-milestones">
                    <li>
                        <i class="fa fa-at"></i>
                        <p>LOCATION:</p>&nbsp; <span>@roomInfo.DestinationLocation</span>
                    </li>
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <p>START DATE:</p>&nbsp; <span>@roomInfo.StartDate</span>
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <p>DURING:</p>&nbsp; <span>@roomInfo.LengthInDays days</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 room-detail-interact-area">
            <div class="room-detail-admin-avatar">
                <img class="circle-image" height="50" src="@admin.avatar" alt="Admin" />
            </div>
            <div>
                <a href="#" class="btn btn-primary room-detail-request-join">Request join</a>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" value="@roomId" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-copy"></i></button>
                </span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="&#64;friend">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--INFO ENDS-->
    <!--PLANNING-->
    <div class="col-md-12 room-detail-plan-area">
        <div>
            <!-- Nav tabs -->
            <div>
                <ul class="tabs-cat text-center row">
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-general" title="" aria-expanded="true">
                            <span>General</span>
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4 active">
                        <a data-toggle="tab" href="#room-detail-plan-tab-timeline" title="" aria-expanded="false">
                            <span>Timeline</span>
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-estimation" title="" aria-expanded="false">
                            <span>Estimation</span>
                            <i class="fa fa-dollar"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- general -->
                <div class="form-cn room-detail-plan-tab-general tab-pane" id="room-detail-plan-tab-general">
                    <div class="blog-landing">
                        <form class="form-inline col-md-8" style="padding-left: 0">
                            <div class="form-group" style="width: 100%">
                                <div class="input-group" style="width: 100%">
                                    <div class="add-plan-wrapper">
                                        <input type="text" class="form-control" id="general-plan-label" placeholder="Label">
                                        <textarea class="form-control" id="general-plan-detail" placeholder="Content"></textarea>
                                    </div>
                                    <span class="input-group-btn" data-toggle="modal" data-target="#create-general-plan-modal">
                                        <a href="javascript:;" class="btn">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>

                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="col-md-4">
                                <div class="general-plan-list-container">
                                    <div class="general-plan-label border-radius-top-left border-radius-top-right">
                                        <p>Chúng ta đã có nhiều thiết bị thực tế ảo</p>
                                    </div>
                                    <div class="general-plan-content">
                                        Chúng ta đã có nhiều thiết bị thực tế ảo như kính Oculus Rift, Morpheus, HTC Vive... nhưng phần lớn vẫn còn mắc phải nhược điểm là khiến cho người dùng cảm thấy mệt mỏi, chóng mặt khi sử dụng.
                                    </div>
                                    <div class="dark-divider"><!--DIVIDER--></div>
                                    <div class="user-info">
                                        <img src="/Images/UserUpload/UserAvatar/item_0_Background.jpg" alt="Duc Filan" class="avatar" />
                                        <div style="width: 100%">
                                            <a href="/User/Index/1">
                                                <div class="name-user">Duc Filan</div>
                                            </a>
                                            <div class="post-time">16 Sep 2013 21:36</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- End general -->
                <!-- timeline -->
                <div class="form-cn room-detail-plan-tab-timeline tab-pane active" id="room-detail-plan-tab-timeline">
                    <div id="calendar"></div>
                </div>
                <!-- End timeline -->
                <!-- estimation -->
                <div class="form-cn room-detail-plan-tab-estimation tab-pane" id="room-detail-plan-tab-estimation">
                    3
                </div>
                <!-- End estimation -->
            </div>
        </div>
    </div>
    <!--PLANNING ENDS-->
    <!--USER LIST-->
    <div class="col-md-12 room-detail-user-list">
        <div class="col-md-12 frame-container">
            <div class="friend-list-header friend-title-header">
                <h6 class="text-capitalize">MEMBERS</h6>
            </div>

            <div class="friend-list-avatar">
                @foreach (User user in listUserInRoom)
                {
                    <div class="padding-5 col-md-2">
                        <img class="circle-image" height="50" src="@user.avatar" alt="Avatar" />
                    </div>
                }
            </div>
            <div class="friend-list-header view-more-friend-title">
                <h6 class="text-capitalize">VIEW ALL</h6>
            </div>
        </div>
    </div>
    <!--USER LIST ENDS-->

    <div>
        <div class="col-md-6 room-detail-left-area">
            <!--POSTING-->
            <div class="share-post-box room-detail-posting-area">
                <div class="panel panel-default boder-radius">
                    <div class="panel-body">
                        <div class="">
                            <textarea class="form-control message"
                                      rows="10" cols="40"
                                      id="status_message" name="message"
                                      placeholder="What do you want to share?"
                                      style="height: 62px; overflow: hidden;"></textarea>
                        </div>
                    </div>

                    <div class="panel-footer border-radius-bottom-left border-radius-bottom-right">
                        <div class="row">
                            <div class="helper-elements-wrapper">
                                <!-- IMAGES -->
                                <div id="post-add-images-wrapper" class="hidden">
                                    <div id="post-image-preview-wrapper">
                                        <!-- Preview for to-be-uploaded photos -->
                                    </div>

                                    <div class="progress progress-striped active hidden" id="post-upload-images-progress">
                                        <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Uploading...</div>
                                    </div>

                                    <div class="add-media-wrapper">
                                        <label for="post-images-upload" class="custom-file-upload">
                                            <i class="fa fa-plus"></i>
                                        </label>
                                        <input type="file" accept=".jpg,.png,.jpeg,.bmp" id="post-images-upload" name="files[]" class="hidden" multiple>
                                    </div>
                                    <input type="hidden" name="uploadedimages" />
                                </div>

                                <!-- VIDEOS -->
                                <div id="post-add-videos-wrapper" class="hidden">
                                    <span id="signinButton" class="pre-sign-in">
                                        <span class="g-signin"
                                              data-callback="oauth2Callback"
                                              data-clientid="802653758880-3ufqkq2gkpo7hqrimk0pr07isen9r8qu.apps.googleusercontent.com"
                                              data-cookiepolicy="single_host_origin"
                                              data-scope="https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload">
                                        </span>
                                    </span>

                                    <div class="post-sign-in">
                                        <p id="post-video-file-name" style="text-align: center"></p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="upload-media-preview">
                                                    <div class="crop">
                                                        <img src="/Images/UIHelper/youtube.png" alt="Youtube preview" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-7" style="margin: 0 20px 0 -20px">
                                                <input class="form-control" id="video-upload-title" type="text" placeholder="Title for video">
                                                <textarea class="form-control" id="video-upload-description" placeholder="Description for video"></textarea>
                                            </div>

                                            <a href="#" class="btn btn-success col-md-2 upload-button" id="post-upload-video-button">UPLOAD</a>
                                        </div>

                                        <div class="progress progress-striped active hidden" id="post-upload-video-progress">
                                            <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                                        </div>

                                        <div class="add-media-wrapper">
                                            <label for="post-video-upload" class="custom-file-upload">
                                                <i class="fa fa-plus"></i>
                                            </label>

                                            <input id="post-video-upload" type="file" class="hidden" accept="video/*">
                                        </div>

                                        <input type="hidden" name="uploadedvideo" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <a class="btn btn-default" id="id-picture-button">
                                            <i class="fa fa-picture-o"></i> Photo
                                        </a>
                                        <a class="btn btn-default" id="id-video-button">
                                            <i class="fa fa-video-camera"></i> Video
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="btn btn-primary" name="submit" type="submit" value="Post">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--POSTING ENDS-->
            <!--POST LIST-->
            <div class="room-detail-post-list">
                @for (int index = 0; index < listPost.Count; index++)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="post-area">
                                <div class="post-info">
                                    <div class="user-avatar">
                                        <img src="@listUserDict[listPost[index].postID].avatar" alt="@String.Format("{0} {1}", @listUserDict[listPost[index].postID].firstName, @listUserDict[listPost[index].postID].lastName)'s avatar" class="img-circle" />
                                    </div>
                                    <div class="post-info-area">
                                        <div class="user-name">
                                            <a href="/User/Index/@listUserDict[listPost[index].postID].userID">@String.Format("{0} {1}", @listUserDict[listPost[index].postID].firstName, @listUserDict[listPost[index].postID].lastName)</a>
                                        </div>
                                        <span class="post-time">
                                            <span>@listPost[index].toRealtime()</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="post-content" style="display:flex;">
                                    @foreach (var photo in listPhotoDict[listPost[index].postID])
                                    {
                                        <img src="/Images/UserUpload/@photo.url" style="max-height: 100%; margin:auto;" />
                                    }
                                </div>
                                <div class="post-content">
                                    @listPost[index].content
                                </div>
                            </div>

                            <div class="interact-area">
                                <a href="#" class="btn-like"><span>Like</span></a>
                                <a href="#" class="btn-dislike"><span>Dislike</span></a>
                                <a href="#" id="share_button" class="btn-share"><span>Share</span></a>
                                <a href="#" id="report_button" class="btn-report"><span>Report</span></a>
                            </div>
                            <div class="divide-area"></div>
                            <div class="comment-area">
                                <div style="margin: 0 20px 12px">
                                    <a href="javascript:;"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;<b class="like-count">@dictLikeCount[listPost[index].postID]</b>&nbsp;
                                    <a href="javascript:;"><i class="fa fa-thumbs-o-down"></i></a>&nbsp;<b class="dislike-count">@dictDislikeCount[listPost[index].postID]</b>&nbsp;
                                    <a href="javascript:;"><i class="fa fa-group"></i></a>&nbsp;<b class="people-count">@dictUserCommentCount[listPost[index].postID]</b>
                                </div>
                                <div class="comment-stats">
                                    <span>@dictCommentCount[listPost[index].postID] comments</span>
                                </div>
                                <div class="comment-list">
                                    @foreach (var comment in dictListComment[listPost[index].postID])
                                    {
                                        @Html.Partial("_PostDetailPartial", comment)
                                    }
                                </div>
                                <div class="comment-textbox-wrapper">
                                    <textarea id="idTextareaComment" class="comment-textbox comment-box" placeholder="Input comment..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--POST LIST ENDS-->
        </div>
        <div class="col-md-6 room-detail-right-area">
            <ol id="id-chat-list" class="discussion">
                <li class="other">
                    <div class="avatar">
                        <img src="~/Images/FAP logo.png" class="img-circle" />
                    </div>
                    <div class="messages" style="border-bottom: #19B5FF 3px solid">
                        <p><b>This is the very beginning of the room, which created by @String.Format("{0} {1}", @admin.firstName, @admin.lastName) on time</b></p>
                        <time datetime=""><a href="javascript:;">Fly Away Plus System</a></time>
                    </div>
                </li>
                @for (int index = 0; index < listMessage.Count; index++)
                {
                    <li class="@String.Format("{0}", userID == listUserOwnMessage[index].userID ? "self" : "other")">
                        <div class="avatar">
                            <img src="@listUserOwnMessage[index].avatar" />
                        </div>
                        <div class="messages" style="border-bottom: #19B5FF 3px solid">
                            <p>@listMessage[index].content</p>
                            <time datetime="@listMessage[index].dateCreated"><a href="/User/Index/@listUserOwnMessage[index].userID">@String.Format("{0} {1}", @listUserOwnMessage[index].firstName, @listUserOwnMessage[index].lastName)</a> @listMessage[index].dateCreated</time>
                        </div>
                    </li>
                }
            </ol>
            <div class="room-detail-chat-type comment-textbox-wrapper">
                <textarea id="id-textarea-chat-room" class="comment-textbox comment-box" placeholder="Input message..."></textarea>
            </div>
        </div>
    </div>
</div>


<div id="popupEventForm" class="modal fade bs-example-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add new Timeline Plan item</h4>
            </div>
            <div class="modal-body">
                <form id="EventForm">
                    <input type="hidden" id="eventID">
                    <input type="text" id="eventTitle" class="form-control" placeholder="Title"><br/>
                    <input type="text" id="eventDate" class="form-control" placeholder="Start date" readonly><br/>
                    <input type="text" id="eventTime" class="form-control" placeholder="Start time" readonly><br/>
                    <input type="text" id="eventDuration" class="form-control" placeholder="Plan length (in hours)"><br/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="create-general-plan-modal" class="modal fade bs-example-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add new General Plan item</h4>
            </div>
            <div class="modal-body">
                <form id="general-plan-event-form">
                    <input type="hidden" id="g-plan-eventId">
                    <input type="text" id="g-plan-work-portion" class="form-control" placeholder="Work portion"><br />
                    <input type="text" id="g-plan-note" class="form-control" placeholder="Note" readonly><br />
                    <input type="text" id="g-plan-assignee" class="form-control" placeholder="Assgin by tagging a &#64;member-name"><br />
                    <input type="text" id="g-plan-start" class="form-control" placeholder="Start time"><br />
                    <input type="text" id="g-plan-length" class="form-control" placeholder="Plan length (in hours)"><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="g-plan-btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="g-plan-btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (typeof (chatHubProxy) === "undefined") {
            chatHubProxy = $.connection.chatHub;
        }
        $.connection.hub.start().done(function () {
            chatHubProxy.server.getListMessageInRoom(@roomId);
        });

        chatHubProxy.client.getMessageInRoom = function (content) {
            $("#id-chat-list").append(content);
        }

        $("#id-textarea-chat-room").keydown(function (evt) {
            if (evt.keyCode == 13) {
                var text = $(this).val();
                createMessageInRoom(text, $("#id-chat-list"));
                $(this).text("").val("");
                evt.preventDefault();
            }
        });

        var createMessageInRoom = function (content, selector) {
            var controller = "/User/CreateMessageInRoom/";

            var data = {
                roomID: @roomId,
                content: content
            };

            $.ajax({
                type: 'POST',
                url: controller,
                data: data,
                success: function (data, textstatus) {
                    // send notification
                    console.log(data);
                    var message = data;
                    if (message == null) {
                        return;
                    }
                    var tmp = "";
                    tmp += "<li class='self'>";
                    tmp += "<div class='avatar'>";
                    tmp += "<img src='" + $("#id-avatar-current-user").attr("src") + "' class='img-circle' />";
                    tmp += "</div>";
                    tmp += "<div class='messages' style='border-bottom: #19B5FF 3px solid'>";
                    tmp += "<p>" + message["content"] + "</p>";
                    tmp += "<time datetime='" + message["dateCreated"] + "'><a href='/User/Index/@userID'>" + $("#id-avatar-current-user").attr("alt") + "</a>" + message["dateCreated"] + "</time>";
                    tmp += "</div>";
                    tmp += "</li>";

                    $(selector).append(tmp);

                    $.connection.hub.start().done(function () {
                        chatHubProxy.server.sendChatMessageInRoom(tmp.replace("self", "other"), @roomId);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        };
    });
</script>