@using FlyAwayPlus.Models
@{
    ViewBag.Title = "Room Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/RoomPage/room-detail.css" rel="stylesheet" />
<link href="~/Content/Room/room-list.css" rel="stylesheet" />

@{
    var admin = ViewData["admin"] as User;
    var listUserInRoom = ViewData["listUserInRoom"] as List<User>;
    var listUserRequestJoinRoom = ViewData["listUserRequestJoinRoom"] as List<User>;
    var listMessage = ViewData["listMessage"] as List<Message>;
    var listUserOwnMessage = ViewData["listUserOwnMessage"] as List<User>;
    int userID = Int16.Parse(@Session["userID"].ToString());
    
    var listPost = ViewData["listPost"] as List<Post>;
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<Photo>>;
    var listVideoDict = ViewData["listVideoDict"] as Dictionary<int, Video>;
    var listUserDict = ViewData["listUserDict"] as Dictionary<int, User>;
    var dictDislikeCount = ViewData["dislikeCount"] as Dictionary<int, int>;
    var dictLikeCount = ViewData["likeCount"] as Dictionary<int, int>;
    var dictCommentCount = ViewData["commentCount"] as Dictionary<int, int>;
    var dictUserCommentCount = ViewData["userCommentCount"] as Dictionary<int, int>;
    var isLikeDict = ViewData["isLikeDict"] as Dictionary<int, bool>;
    var isDislikeDict = ViewData["isDislikeDict"] as Dictionary<int, bool>;
    var dictListComment = ViewData["dictListComment"] as Dictionary<int, List<Comment>>;
    int roomID = Int16.Parse(ViewData["roomID"].ToString());
}
<div id="room-detail-wrapper">
    <div>
        <!--INFO-->
        <div class="col-md-10 room-detail-infor">
            <div class="room-detail-cover" style="background-image: url(/Images/background/nhatrang2.jpg)"><!--BG--></div>
            <div class="room-detail-darkwrapper"></div>
            <div class="room-detail-infor-text">
                <h3>Da Nang Beautiful Beach</h3>
                <div class="light-divider"><!--DIVIDER--></div>
                <div class="room-detail-infor-description">
                    Local beaches are good for swimming all year round, but especially from May to August when the waves are gentle. On some of these beaches, lifeguard teams work from 5am to 8pm daily to ensure the safety of swimmers.
                </div>

                <ul class="room-detail-infor-milestones">
                    <li>
                        <i class="fa fa-at"></i>
                        <p>LOCATION:</p>&nbsp; <span>Hanoi Railway Station, Lê Duẩn, Khâm Thiên, Đống Đa, Hanoi, Vietnam</span>
                    </li>
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <p>START DATE:</p>&nbsp; <span>Thursday, 22 Dec 2015</span>
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <p>DURING:</p>&nbsp; <span>22 days</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 room-detail-interact-area">
            <div class="room-detail-admin-avatar">
                <img class="circle-image" height="50" src="@admin.avatar" alt="Admin" />
            </div>
            <div>
                <a href="#" class="btn btn-primary room-detail-request-join">Request join</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary room-detail-btn-copy-roomid" type="button">Copy room ID</a>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="&#64;friend">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--INFO ENDS-->
    <!--PLANNING-->
    <div class="col-md-12 room-detail-plan-area">
        <div>
            <!-- Nav tabs -->
            <div>
                <ul class="tabs-cat text-center row">
                    <li class="cate-item col-xs-4 active">
                        <a data-toggle="tab" href="#room-detail-plan-tab-general" title="" aria-expanded="true">
                            <span>General</span>
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-timeline" title="" aria-expanded="false">
                            <span>Timeline</span>
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-estimation" title="" aria-expanded="false">
                            <span>Estimation</span>
                            <i class="fa fa-dollar"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- general -->
                <div class="form-cn room-detail-plan-tab-general tab-pane active" id="room-detail-plan-tab-general">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only input-group-addon" for="general-plan-label">Label</label>
                            <label class="sr-only" for="general-plan-detail">Detail</label>
                            <div class="input-group">
                                <div class="input-group-addon">Label</div>
                                <input type="text" class="form-control" id="general-plan-label">
                                <div class="input-group-addon">Detail</div>
                                <input type="text" class="form-control" id="general-plan-detail">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </span>
                            </div>
                        </div>
                    </form>


                </div>
                <!-- End general -->
                <!-- timeline -->
                <div class="form-cn room-detail-plan-tab-timeline tab-pane" id="room-detail-plan-tab-timeline">
                    2
                </div>
                <!-- End timeline -->
                <!-- estimation -->
                <div class="form-cn room-detail-plan-tab-estimation tab-pane" id="room-detail-plan-tab-estimation">
                    3
                </div>
                <!-- End estimation -->
            </div>
        </div>
    </div>
    <!--PLANNING ENDS-->
    <!--USER LIST-->
    <div class="col-md-12 room-detail-user-list">
        <div class="col-md-12 frame-container">
            <div class="friend-list-header friend-title-header">
                <h6 class="text-capitalize">MEMBERS</h6>
            </div>

            <div class="friend-list-avatar">
                @foreach(User user in listUserInRoom)
                {
                    <div class="padding-5 col-md-2">
                        <img class="circle-image" height="50" src="@user.avatar" alt="Avatar" />
                    </div>
                }
            </div>
            <div class="friend-list-header view-more-friend-title">
                <h6 class="text-capitalize">VIEW ALL</h6>
            </div>
        </div>
    </div>
    <!--USER LIST ENDS-->

    <div>
        <div class="col-md-6 room-detail-left-area">
            <!--POSTING-->
            <div class="share-post-box room-detail-posting-area">
                <div class="panel panel-default boder-radius">
                    <div class="panel-body">
                        <div class="">
                            <textarea class="form-control message"
                                      rows="10" cols="40"
                                      id="status_message" name="message"
                                      placeholder="What do you want to share?"
                                      style="height: 62px; overflow: hidden;"></textarea>
                        </div>
                    </div>

                    <div class="panel-footer border-radius-bottom-left border-radius-bottom-right">
                        <div class="row">
                            <div class="helper-elements-wrapper">
                                <!-- IMAGES -->
                                <div id="post-add-images-wrapper" class="hidden">
                                    <div id="post-image-preview-wrapper">
                                        <!-- Preview for to-be-uploaded photos -->
                                    </div>

                                    <div class="progress progress-striped active hidden" id="post-upload-images-progress">
                                        <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Uploading...</div>
                                    </div>

                                    <div class="add-media-wrapper">
                                        <label for="post-images-upload" class="custom-file-upload">
                                            <i class="fa fa-plus"></i>
                                        </label>
                                        <input type="file" accept=".jpg,.png,.jpeg,.bmp" id="post-images-upload" name="files[]" class="hidden" multiple>
                                    </div>
                                    <input type="hidden" name="uploadedimages" />
                                </div>

                                <!-- VIDEOS -->
                                <div id="post-add-videos-wrapper" class="hidden">
                                    <span id="signinButton" class="pre-sign-in">
                                        <span class="g-signin"
                                              data-callback="oauth2Callback"
                                              data-clientid="802653758880-3ufqkq2gkpo7hqrimk0pr07isen9r8qu.apps.googleusercontent.com"
                                              data-cookiepolicy="single_host_origin"
                                              data-scope="https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload">
                                        </span>
                                    </span>

                                    <div class="post-sign-in">
                                        <p id="post-video-file-name" style="text-align: center"></p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="upload-media-preview">
                                                    <div class="crop">
                                                        <img src="/Images/UIHelper/youtube.png" alt="Youtube preview" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-7" style="margin: 0 20px 0 -20px">
                                                <input class="form-control" id="video-upload-title" type="text" placeholder="Title for video">
                                                <textarea class="form-control" id="video-upload-description" placeholder="Description for video"></textarea>
                                            </div>

                                            <a href="#" class="btn btn-success col-md-2 upload-button" id="post-upload-video-button">UPLOAD</a>
                                        </div>

                                        <div class="progress progress-striped active hidden" id="post-upload-video-progress">
                                            <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                                        </div>

                                        <div class="add-media-wrapper">
                                            <label for="post-video-upload" class="custom-file-upload">
                                                <i class="fa fa-plus"></i>
                                            </label>

                                            <input id="post-video-upload" type="file" class="hidden" accept="video/*">
                                        </div>

                                        <input type="hidden" name="uploadedvideo" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <a class="btn btn-default" id="id-picture-button">
                                            <i class="fa fa-picture-o"></i> Photo
                                        </a>
                                        <a class="btn btn-default" id="id-video-button">
                                            <i class="fa fa-video-camera"></i> Video
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="btn btn-primary" name="submit" type="submit" value="Post">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--POSTING ENDS-->
            <!--POST LIST-->
            <div class="room-detail-post-list">
                @for (int index = 0; index < listPost.Count; index++)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="post-area">
                                <div class="post-info">
                                    <div class="user-avatar">
                                        <img src="@listUserDict[listPost[index].postID].avatar" alt="@String.Format("{0} {1}", @listUserDict[listPost[index].postID].firstName, @listUserDict[listPost[index].postID].lastName)'s avatar" class="img-circle" />
                                    </div>
                                    <div class="post-info-area">
                                        <div class="user-name">
                                            <a href="/User/Index/1">@String.Format("{0} {1}", @listUserDict[listPost[index].postID].firstName, @listUserDict[listPost[index].postID].lastName)</a>
                                        </div>
                                        <span class="post-time">
                                            <span>@listPost[index].toRealtime()</span>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="post-content" style="display:flex;">
                                    @foreach (var photo in listPhotoDict[listPost[index].postID])
                                    {
                                        <img src="/Images/UserUpload/@photo.url" style="max-height: 100%; margin:auto;" />
                                    }
                                </div>
                                <div class="post-content">
                                    @listPost[index].content
                                </div>
                            </div>

                            <div class="interact-area">
                                <a href="#" class="btn-like"><span>Like</span></a>
                                <a href="#" class="btn-dislike"><span>Dislike</span></a>
                                <a href="#" id="share_button" class="btn-share"><span>Share</span></a>
                                <a href="#" id="report_button" class="btn-report"><span>Report</span></a>
                            </div>
                            <div class="divide-area"></div>
                            <div class="comment-area">
                                <div style="margin: 0 20px 12px">
                                    <a href="javascript:;"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;<b class="like-count">@dictLikeCount[listPost[index].postID]</b>&nbsp;
                                    <a href="javascript:;"><i class="fa fa-thumbs-o-down"></i></a>&nbsp;<b class="dislike-count">@dictDislikeCount[listPost[index].postID]</b>&nbsp;
                                    <a href="javascript:;"><i class="fa fa-group"></i></a>&nbsp;<b class="people-count">@dictUserCommentCount[listPost[index].postID]</b>
                                </div>
                                <div class="comment-stats">
                                    <span>@dictCommentCount[listPost[index].postID] comments</span>
                                </div>
                                <div class="comment-list">
                                    @foreach (var comment in dictListComment[listPost[index].postID])
                                    {
                                        @Html.Partial("_PostDetailPartial", comment)
                                    }
                                </div>
                                <div class="comment-textbox-wrapper">
                                    <textarea id="idTextareaComment" class="comment-textbox comment-box" placeholder="Input comment..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--POST LIST ENDS-->
        </div>
        <div class="col-md-6 room-detail-right-area">
            <ol id="id-chat-list" class="discussion">
                <li class="other">
                    <div class="avatar">
                        <img src="~/Images/FAP logo.png" class="img-circle" />
                    </div>
                    <div class="messages" style="border-bottom: #19B5FF 3px solid">
                        <p><b>This is the very beginning of the room, which created by @String.Format("{0} {1}", @admin.firstName, @admin.lastName) on time</b></p>
                        <time datetime=""><a href="/Home/Index/">Fly Away Plus System</a></time>
                    </div>
                </li>
                @for (int index = 0; index < listMessage.Count; index++)
                {
                    <li class="@String.Format("{0}", userID == listUserOwnMessage[index].userID ? "self" : "other")">
                        <div class="avatar">
                            <img src="@listUserOwnMessage[index].avatar" class="img-circle" />
                        </div>
                        <div class="messages" style="border-bottom: #19B5FF 3px solid">
                            <p>@listMessage[index].content</p>
                            <time datetime="@listMessage[index].dateCreated"><a href="/User/Index/@listUserOwnMessage[index].userID">@String.Format("{0} {1}", @listUserOwnMessage[index].firstName, @listUserOwnMessage[index].lastName)</a> @listMessage[index].dateCreated</time>
                        </div>
                    </li>
                }
            </ol>
            <div class="room-detail-chat-type comment-textbox-wrapper">
                <textarea id="id-textarea-chat-room" class="comment-textbox comment-box" placeholder="Input message..."></textarea>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (typeof (chatHubProxy) === "undefined") {
            chatHubProxy = $.connection.chatHub;
        }
        $.connection.hub.start().done(function () {
            chatHubProxy.server.getListMessageInRoom(@roomID);
        });

        chatHubProxy.client.getMessageInRoom = function (content) {
            $("#id-chat-list").append(content);
        }

        $("#id-textarea-chat-room").keydown(function (evt) {
            if (evt.keyCode == 13) {
                var text = $(this).val();
                createMessageInRoom(text, $("#id-chat-list"));
                $(this).text("").val("");
                evt.preventDefault();
            }
        });

        var createMessageInRoom = function (content, selector) {
            var controller = "/User/CreateMessageInRoom/";

            var data = {
                roomID: @roomID,
                content: content
            };

            $.ajax({
                type: 'POST',
                url: controller,
                data: data,
                success: function (data, textstatus) {
                    // send notification
                    var message = data;
                    if (message == null) {
                        return;
                    }
                    var tmp = "";
                    tmp += "<li class='self'>";
                    tmp += "<div class='avatar'>";
                    tmp += "<img src='" + $("#id-avatar-current-user").attr("src") + "' class='img-circle' />";
                    tmp += "</div>";
                    tmp += "<div class='messages' style='border-bottom: #19B5FF 3px solid'>";
                    tmp += "<p>" + message["content"] + "</p>";
                    tmp += "<time datetime='" + message["dateCreated"] + "'><a href='/User/Index/@userID'>" + $("#id-avatar-current-user").attr("alt") + "</a>" + message["dateCreated"] + "</time>";
                    tmp += "</div>";
                    tmp += "</li>";

                    $(selector).append(tmp);

                    $.connection.hub.start().done(function () {
                        chatHubProxy.server.sendChatMessageInRoom(tmp.replace("self", "other"), @roomID);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        };
    });

</script>