@using FlyAwayPlus.Models

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>

<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.min.js"></script>
<script src="~/Scripts/bootstrap-table-export.min.js"></script>

@{
    ViewBag.Title = "Room Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/RoomPage/room-detail.css" rel="stylesheet" />
<link href="~/Content/Room/room-list.css" rel="stylesheet" />

@section scripts{
    <script>
        $(document).ready(function () {
            var sourceFullView = { url: '/Room/GetPlanEvents/' };
            var calLoading = true;

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                height: 500,
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: '/Room/GetPlanEvents/',
                eventClick: function (calEvent, jsEvent, view) {
                    alert('You clicked on event id: ' + calEvent.id
                        + "\nSpecial ID: " + calEvent.someKey
                        + "\nAnd the title is: " + calEvent.title);
                },

                eventDrop: function(event, delta, revertFunc) {
                    if (confirm("Confirm move?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },

                eventResize: function(event, delta, revertFunc) {

                    if (confirm("Confirm change appointment length?")) {
                        UpdateEvent(event.id, event.start, event.end);
                    }
                    else {
                        revertFunc();
                    }
                },

                dayClick: function (date, allDay, jsEvent, view) {
                    $('#eventTitle').val("");
                    $('#eventDate').val(moment(date).format('YYYY-MM-DD'));
                    $('#eventTime').val(moment(date).format('HH:mm:ss'));
                    ShowEventPopup(date);
                },

                viewRender: function (view, element) {
                    if (!calLoading) {
                        $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }

            });

            calLoading = false;
        });

        $('#btnPopupCancel').click(function () {
            ClearPopupFormValues();
            $('#popupEventForm').modal(false);
        });

        $('#btnPopupSave').click(function () {

            $('#popupEventForm').modal(false);

            var dataRow = {
                'Title': $('#eventTitle').val(),
                'NewEventDate': $('#eventDate').val(),
                'NewEventTime': $('#eventTime').val(),
                'NewEventDuration': $('#eventDuration').val()
            }

            ClearPopupFormValues();

            $.ajax({
                type: 'POST',
                url: "/Room/SaveTimelinePlan",
                data: dataRow,
                success: function (response) {
                    if (response == 'True') {
                        $('#calendar').fullCalendar('refetchEvents');
                        alert('New event saved!');
                    }
                    else {
                        alert('Error, could not save event!');
                    }
                }
            });
        });

        function ShowEventPopup(date) {
            ClearPopupFormValues();
            $('#popupEventForm').modal();
            $('#eventTitle').focus();
        }

        function ClearPopupFormValues() {
            $('#eventID').val("");
            $('#eventTitle').val("");
            $('#eventDateTime').val("");
            $('#eventDuration').val("");
        }

        function UpdateEvent(eventId, eventStart, eventEnd) {

            var dataRow = {
                'id': eventId,
                'newEventStart': eventStart,
                'newEventEnd': eventEnd
            }

            $.ajax({
                type: 'POST',
                url: "/Room/UpdateTimelinePlan/",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataRow)
            });
        }
    </script>
}

@{
    var roomInfo = ViewData["roomInfo"] as Room;
    var admin = ViewData["admin"] as User;
    var listUserInRoom = ViewData["listUserInRoom"] as List<User>;
    var listUserRequestJoinRoom = ViewData["listUserRequestJoinRoom"] as List<User>;
    var listMessage = ViewData["listMessage"] as List<Message>;
    var listUserOwnMessage = ViewData["listUserOwnMessage"] as List<User>;
    string relationInRoom = ViewData["relationInRoom"].ToString();
    int userId = Int16.Parse(@Session["UserId"].ToString());

    var listPost = ViewData["listPost"] as List<Post>;
    var listGeneralPlan = ViewData["listGeneralPlan"] as List<Plan>;
    var listUserDict = ViewData["listUserDict"] as Dictionary<int, User>;
    var dictUserCommentCount = ViewData["userCommentCount"] as Dictionary<int, int>;
    var isLikeDict = ViewData["isLikeDict"] as Dictionary<int, bool>;
    var isDislikeDict = ViewData["isDislikeDict"] as Dictionary<int, bool>;
    var dictPlanIdPiCs = ViewData["dictPlanIdPICs"] as Dictionary<int, IEnumerable<User>>;
    var dictPlanIdCreator = ViewData["dictPlanIdCreator"] as Dictionary<int, User>;
    int roomId = int.Parse(ViewData["roomID"].ToString());
}
<!--REQUEST JOIN MODAL-->
<div class="modal fade" id="view-request-join-modal" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top: 40px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Request join</h4>
            </div>

            <div class="modal-body">
                <table data-toggle="table" data-height="299">
                    <thead>
                        <tr>
                            <th data-align="center">Avatar</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < listUserRequestJoinRoom.Count; index++)
                        {
                            <tr data-index="@index">
                                <td style=""><img height="50" alt="User" src="@listUserRequestJoinRoom[index].Avatar" class="circle-image"></td>
                                <td style=""><a href="/User/Index/@listUserRequestJoinRoom[index].UserId">@listUserRequestJoinRoom[index].FirstName @listUserRequestJoinRoom[index].LastName</a></td>
                                <td style="">@listUserRequestJoinRoom[index].Email</td>
                                <td style="">
                                    <button type='button' role="@listUserRequestJoinRoom[index].UserId" class='btn btn-success accept-request-join-btn'>Accept</button>
                                    <button type='button' role="@listUserRequestJoinRoom[index].UserId" class='btn btn-danger decline-request-join-btn' style='margin-left:5px;'>Decline</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button data-es="Close" data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="room-detail-wrapper">
    <div>
        <!--INFO-->
        <div class="col-md-10 room-detail-infor">
            <div class="room-detail-cover" style="background-image: url(@(!string.IsNullOrWhiteSpace(roomInfo.PhotoCoverUrl) ? roomInfo.PhotoCoverUrl : "/Images/background/nhatrang2.jpg"))"><!--BG--></div>
            <div class="room-detail-darkwrapper"></div>
            <div class="room-detail-infor-text">
                <h3>@roomInfo.RoomName</h3>
                <div class="light-divider"><!--DIVIDER--></div>
                <div class="room-detail-infor-description">
                    @roomInfo.Description
                </div>

                <ul class="room-detail-infor-milestones">
                    <li>
                        <i class="fa fa-at"></i>
                        <p>LOCATION:</p>&nbsp; <span>@roomInfo.DestinationLocation</span>
                    </li>
                    <li>
                        <i class="fa fa-calendar-o"></i>
                        <p>START DATE:</p>&nbsp; <span>@roomInfo.StartDate</span>
                    </li>
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <p>DURING:</p>&nbsp; <span>@roomInfo.LengthInDays days</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 room-detail-interact-area">
            <div class="room-detail-admin-avatar">
                <img class="circle-image" height="50" src="@admin.Avatar" alt="Admin" />
            </div>
            @if (admin.UserId == userId)
            {
                <div>
                    <a href="javascript:;" data-target="#view-request-join-modal" data-toggle="modal" class="btn btn-primary room-detail-request-join">View Request join</a>
                </div>
            }
            else if (relationInRoom.Equals("Request"))
            {
                <div>
                    <a href="javascript:;" id="id-sent-request-join-room-btn" class="btn btn-primary room-detail-request-join">Request sent</a>
                </div>
            }
            else if (relationInRoom.Equals("Member"))
            {
                <div style="display:none">
                    <a href="javascript:;" id="id-member-in-room-btn" class="btn btn-primary room-detail-request-join">You are already a member</a>
                </div>
            }
            else
            {
                <div>
                    <a href="javascript:;" id="id-request-join-room-btn" class="btn btn-primary room-detail-request-join">Request join</a>
                </div>
                <div style="display:none">
                    <a href="javascript:;" id="id-sent-request-join-room-btn" class="btn btn-primary room-detail-request-join">Request sent</a>
                </div>
            }
            <div class="input-group">
                <input type="text" class="form-control" value="@roomId" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-copy"></i></button>
                </span>
            </div>
            <div class="input-group">
                <input type="text" id="id-tag-friend-join-room" class="form-control" placeholder="&#64;friend">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="id-invite-friend-btn" type="button"><i class="fa fa-plus"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--INFO ENDS-->
    <!--PLANNING-->
    <div class="col-md-12 room-detail-plan-area">
        <div>
            <!-- Nav tabs -->
            <div>
                <ul class="tabs-cat text-center row">
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-general" title="" aria-expanded="true">
                            <span>General</span>
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4 active">
                        <a data-toggle="tab" href="#room-detail-plan-tab-timeline" title="" aria-expanded="false">
                            <span>Timeline</span>
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                    <li class="cate-item col-xs-4">
                        <a data-toggle="tab" href="#room-detail-plan-tab-estimation" title="" aria-expanded="false">
                            <span>Estimation</span>
                            <i class="fa fa-dollar"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- general -->
                <div class="form-cn room-detail-plan-tab-general tab-pane" id="room-detail-plan-tab-general">
                    <div style="text-align: center; margin-bottom: 10px">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#create-general-plan-modal" style="background-color: #2DCC70">
                            Add a work portion
                        </button>
                    </div>
                    <div class="blog-landing">
                        @foreach (var gp in listGeneralPlan)
                        {
                            <div>
                                <div class="general-plan-list-container">
                                    <div class="general-plan-label border-radius-top-left border-radius-top-right">
                                        <p>@gp.WorkItem</p>
                                    </div>
                                    <div class="general-plan-content">
                                        @gp.WorkItemDetail
                                    </div>

                                    <div>
                                        <ul>
                                            <li><b>Complete on:</b> @gp.DatePlanStart.Remove(10)</li>
                                            <li>
                                                <b>Person in charge:</b>
                                                @foreach (var pic in dictPlanIdPiCs[gp.PlanId])
                                                {
                                                    <a href="/User/Index/@pic.UserId" class="hover-card-user">@(pic.FirstName + " " + pic.LastName + "; ")</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dark-divider"><!--DIVIDER--></div>
                                    <div class="user-info">
                                        <img src="@dictPlanIdCreator[gp.PlanId].Avatar" alt="Avatar" class="avatar" />
                                        <div style="width: 100%">
                                            <a href="/User/Index/@dictPlanIdCreator[gp.PlanId].UserId" class="hover-card-user">
                                                <div class="name-user">@(dictPlanIdCreator[gp.PlanId].FirstName + " " + dictPlanIdCreator[gp.PlanId].LastName)</div>
                                            </a>
                                            <div class="post-time">@gp.DatePlanCreated</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- End general -->
                <!-- timeline -->
                <div class="form-cn room-detail-plan-tab-timeline tab-pane active" id="room-detail-plan-tab-timeline">
                    <div id="calendar"></div>
                </div>
                <!-- End timeline -->
                <!-- estimation -->
                <div class="form-cn room-detail-plan-tab-estimation tab-pane" id="room-detail-plan-tab-estimation">
                    <div id="custom-toolbar">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#estimation-plan-modal" style="background-color: #2DCC70;">
                            Add an estimation item
                        </button>
                    </div>

                    <table id="estimation-table"
                           data-toggle="table"
                           data-striped="true"
                           data-sort-name="name"
                           data-search="true"
                           data-show-export="true"
                           data-show-header="true"
                           data-show-toggle="true"
                           data-show-refresh="true"
                           data-height="500"
                           data-pagination="true"
                           data-url="/Room/GetEstimationData?roomId=@ViewData["roomID"]">
                        <thead>
                            <tr>
                                <th data-field="id" class="hidden"></th>
                                <th data-field="payment" data-sortable="true">Payment</th>
                                <th data-field="price" data-sortable="true">Price</th>
                                <th data-field="creator" data-sortable="true">Creator</th>
                                <th data-field="payer" data-sortable="true">Payer</th>
                                <th data-field="datecreated" data-sortable="true">Date created</th>
                                <th data-field="operate" data-formatter="estimationAction" data-events="estimationEvents" data-align="center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- End estimation -->
            </div>
        </div>
    </div>
    <!--PLANNING ENDS-->
    <!--USER LIST-->
    <div class="col-md-12 room-detail-user-list">
        <div class="col-md-12 frame-container">
            <div class="friend-list-header friend-title-header">
                <h6 class="text-capitalize">MEMBERS</h6>
            </div>

            <div class="friend-list-avatar">
                <div class="padding-5 col-md-2">
                    <a href="/User/Index/@admin.UserId" class="hover-card-user tooltipstered">
                        <img class="circle-image" height="50" src="@admin.Avatar" alt="Avatar" />
                    </a>
                </div>
                @foreach (User user in listUserInRoom)
                {
                    <div class="padding-5 col-md-2">
                        <a href="/User/Index/@user.UserId" class="hover-card-user tooltipstered">
                            <img class="circle-image" height="50" src="@user.Avatar" alt="Avatar" />
                        </a>
                    </div>
                }
            </div>
            <div class="friend-list-header view-more-friend-title">
                <h6 class="text-capitalize">VIEW ALL</h6>
            </div>
        </div>
    </div>
    <!--USER LIST ENDS-->

    <div>
        <div class="col-md-6 room-detail-left-area">
            <!--POSTING-->
            @using (Html.BeginForm("AddPost", "Room", FormMethod.Post, new { @id = "form-post-room", @name = "form-post-room", @class = "", @enctype = "multipart/form-data" }))
            {
                <div id="id-posting-room" class="share-post-box room-detail-posting-area">
                    <div class="panel panel-default boder-radius">
                        <div class="panel-body">
                            <div class="">
                                <textarea class="form-control message"
                                          rows="10" cols="40"
                                          id="status_message_room" name="message"
                                          placeholder="What do you want to share?"
                                          style="height: 62px; overflow: hidden;"></textarea>
                                <textarea id="status_message_post_room" name="message_post_room"
                                          style="display: none"></textarea>
                            </div>
                        </div>

                        <div class="panel-footer border-radius-bottom-left border-radius-bottom-right">
                            <div class="row">
                                <div class="helper-elements-wrapper">
                                    <!-- IMAGES -->
                                    <div id="post-add-images-wrapper-room" class="hidden">
                                        <div id="post-image-preview-wrapper-room">
                                            <!-- Preview for to-be-uploaded photos -->
                                        </div>

                                        <div class="progress progress-striped active hidden" id="post-upload-images-progress-room">
                                            <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Uploading...</div>
                                        </div>

                                        <div class="add-media-wrapper">
                                            <label for="post-images-upload" class="custom-file-upload">
                                                <i class="fa fa-plus"></i>
                                            </label>
                                            <input type="file" accept=".jpg,.png,.jpeg,.bmp" id="post-images-upload-room" name="files[]" class="hidden" multiple>
                                        </div>
                                        <input type="hidden" name="uploadedimages" />
                                    </div>

                                    <!-- VIDEOS -->
                                    <div id="post-add-videos-wrapper-room" class="hidden">
                                        <span id="signinButton" class="pre-sign-in">
                                            <span class="g-signin"
                                                  data-callback="oauth2Callback"
                                                  data-clientid="802653758880-3ufqkq2gkpo7hqrimk0pr07isen9r8qu.apps.googleusercontent.com"
                                                  data-cookiepolicy="single_host_origin"
                                                  data-scope="https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/youtube.upload">
                                            </span>
                                        </span>

                                        <div class="post-sign-in">
                                            <p id="post-video-file-name-room" style="text-align: center"></p>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="upload-media-preview">
                                                        <div class="crop">
                                                            <img src="/Images/UIHelper/youtube.png" alt="Youtube preview" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-7" style="margin: 0 20px 0 -20px">
                                                    <input class="form-control" id="video-upload-title-room" type="text" placeholder="Title for video">
                                                    <textarea class="form-control" id="video-upload-description-room" placeholder="Description for video"></textarea>
                                                </div>

                                                <a href="javascript:;" class="btn btn-success col-md-2 upload-button" id="post-upload-video-button-room">UPLOAD</a>
                                            </div>

                                            <div class="progress progress-striped active hidden" id="post-upload-video-progress-room">
                                                <div class="progress-bar upload-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                                            </div>

                                            <div class="add-media-wrapper">
                                                <label for="post-video-upload" class="custom-file-upload">
                                                    <i class="fa fa-plus"></i>
                                                </label>

                                                <input id="post-video-upload-room" type="file" class="hidden" accept="video/*">
                                            </div>

                                            <input type="hidden" name="uploadedvideo" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <a class="btn btn-default" id="id-picture-button-room">
                                                <i class="fa fa-picture-o"></i> Photo
                                            </a>
                                            <a class="btn btn-default" id="id-video-button-room">
                                                <i class="fa fa-video-camera"></i> Video
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input id="id-btn-submit-post-in-room" class="btn btn-primary" name="submit" type="submit" value="Post">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--POSTING ENDS-->
            <!--POST LIST-->
            <div class="room-detail-post-list">
                @foreach (Post p in listPost)
                {
                    @Html.Partial("_PostDetailCommonPartial", p)
                }
            </div>
            <!--POST LIST ENDS-->
        </div>
        <div class="col-md-6 room-detail-right-area">
            <ol id="id-chat-list" class="discussion">
                <li class="other">
                    <div class="avatar">
                        <img src="~/Images/FAP logo.png" />
                    </div>
                    <div class="messages" style="border-bottom: #19B5FF 3px solid">
                        <p><b>This is the very beginning of the room, which created by <a href="/User/Index/@admin.UserId" class="hover-card-user">@String.Format("{0} {1}", @admin.FirstName, @admin.LastName)</a> on time</b></p>
                        <time datetime=""><a href="javascript:;">Fly Away Plus System</a></time>
                    </div>
                </li>
                @for (int index = 0; index < listMessage.Count; index++)
                {
                    <li class="@String.Format("{0}", userId == listUserOwnMessage[index].UserId ? "self" : "other")">
                        <div class="avatar">
                            <img src="@listUserOwnMessage[index].Avatar" />
                        </div>
                        <div class="messages" style="border-bottom: #19B5FF 3px solid">
                            <p>@listMessage[index].Content</p>
                            <time datetime="@listMessage[index].DateCreated"><a href="/User/Index/@listUserOwnMessage[index].UserId" class="hover-card-user">@String.Format("{0} {1}", @listUserOwnMessage[index].FirstName, @listUserOwnMessage[index].LastName)</a> @listMessage[index].DateCreated</time>
                        </div>
                    </li>
                }
            </ol>
            <div class="room-detail-chat-type comment-textbox-wrapper">
                <textarea id="id-textarea-chat-room" class="comment-textbox comment-box" placeholder="Input message..."></textarea>
            </div>
        </div>
    </div>
</div>

<!-- CREATE TIMELINE PLAN MODAL -->
<div id="popupEventForm" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add new Timeline Plan item</h4>
            </div>
            <div class="modal-body">
                <form id="EventForm">
                    <input type="hidden" id="eventID">
                    <input type="text" id="eventTitle" class="form-control" placeholder="Title"><br />
                    <input type="text" id="eventDate" class="form-control" placeholder="Start date" readonly><br />
                    <input type="text" id="eventTime" class="form-control" placeholder="Start time" readonly><br />
                    <input type="text" id="eventDuration" class="form-control" placeholder="Plan length (in hours)"><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- CREATE GENERAL PLAN MODAL -->
<div id="create-general-plan-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add new General Plan item</h4>
            </div>
            <div class="modal-body">
                <div id="general-plan-event-form">
                    <input type="text" id="g-plan-work-portion" class="form-control" placeholder="Work portion"><br />
                    <textarea id="g-plan-note" class="form-control" placeholder="More detail (optional)"></textarea><br />
                    <input type="text" id="g-plan-assignee" class="form-control" placeholder="Assgin by tagging a &#64;member-name"><br />
                    <input type="text" id="g-plan-start" class="form-control" placeholder="Start time"><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="g-plan-btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="g-plan-btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- CREATE/EDIT ESTIMATION MODAL -->
<div id="estimation-plan-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Add new Estimation item</h4>
            </div>
            <div class="modal-body">
                <div id="estimation-plan-event-form">
                    <input type="hidden" id="estimation-id" value="-1"><br />
                    <input type="text" id="estimation-payment" class="form-control" placeholder="Payment"><br />
                    <input type="text" id="estimation-price" class="form-control" placeholder="Price"><br />
                    <input type="text" id="estimation-payer" class="form-control" placeholder="&#64;payer-name"><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="estimation-btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="estimation-btnPopupSave" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>|
<script src="~/Scripts/jquery.montage.min.js"></script>
<script>
    function estimationAction(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.estimationEvents = {
        'click .edit': function (e, value, row, index) {
            var modal = $('#estimation-plan-modal');

            modal.find('h4').text('Edit Estimation item');
            modal.find('#estimation-id').val(row.id);
            modal.find('#estimation-payment').val(row.payment);
            modal.find('#estimation-price').val(row.price);
            modal.find('#estimation-payer').val(row.payer);

            $('#estimation-plan-modal').modal();
        },
        'click .remove': function (e, value, row, index) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this estimation!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '/Room/DeleteEstimation',
                    type: 'POST',
                    dataType: 'json',
                    data: {id: row.id},
                    success: function() {
                        $('#estimation-table').bootstrapTable('remove', {
                            field: 'id',
                            values: [row.id]
                        });
                        swal({ title: "Deleted!", text: "Your estimation has been deleted.", type: "success", timer: 1500, showConfirmButton: false });
                    },
                    error: function() {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            });
        }
    };

    var editCommentAjax = function (comment) {
        var controller = "/User/EditComment";
        var commentId = parseInt($(comment).attr("role"));
        var content = $(comment).val();
        var data = {
            CommentId: commentId,
            content: content
        }

        $.ajax({
            type: 'POST',
            url: controller,
            data: data,
            success: function (data, textstatus) {
                // send notification
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    var deleteComment = function (commentId) {
        var controller = "/User/DeleteComment";
        var data = {
            CommentId: commentId
        }

        $.ajax({
            type: 'POST',
            url: controller,
            data: data,
            success: function (data, textstatus) {
                // send notification
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($(".blog-landing"), 250);
    });

    $(document).ready(function () {
        commonModule.likePost();
        commonModule.dislikePost();

        var roomHubProxy = roomHubProxy || $.connection.roomHub;
        $.connection.hub.start().done(function () {
            roomHubProxy.server.connect(parseInt('@roomId'));
        });
        roomHubProxy.client.addNewCommentInRoom = function (content, postId) {
            try {
                $("#idTextareaComment_" + postId).closest(".comment-area").find(".comment-list").append(content);
                eval("deleteCommentEvent_" + postId + "()");
                eval("editCommentEvent_" + postId + "()");
                $("#idTextareaComment_" + postId).closest(".comment-area").find(".comment-list .comment-detail").last().find(".commenter-delete").remove();
                $("#idTextareaComment_" + postId).closest(".comment-area").find(".comment-list .comment-detail").last().find(".commenter-edit").remove();
            }
            catch(e) {
                console.log(e.message);
            }
        };
        $("#id-btn-submit-post-in-room").click(function(evt) {

            if(evt.handled !== true) {
                evt.handled = true;

                $.ajax({
                    url: '/Room/AddPost',
                    type: 'POST',
                    data: {
                        queryString: $("#form-post-room").serialize(),
                        roomId: parseInt('@roomId')
                    },
                    success: function (data) {
                        if(typeof(data) == "undefined" || data == null || data == false) {
                            swal("Oops...", "The room is already full of slots!", "error");
                        }
                        else {
                            //console.log(data);
                            $(".room-detail-post-list").prepend(data);
                            $("#status_message_room").text("").val("");
                            $('input[name="uploadedimages"]').text("").val("");
                            $('input[name="uploadedvideo"]').text("").val("");
                            $("#post-image-preview-wrapper-room").remove().hide();
                            if(!$("#post-add-images-wrapper-room").hasClass("hidden")) {
                                $("#post-add-images-wrapper-room").toggleClass("hidden");
                            }
                            if(!$("#post-add-videos-wrapper-room").hasClass("hidden")) {
                                $("#post-add-videos-wrapper-room").toggleClass("hidden");
                            }
                            commonModule.likePost();
                            commonModule.dislikePost();

                            $.connection.hub.start().done(function () {
                                roomHubProxy.server.addPostInRoom(data, parseInt('@roomId'));
                            });
                        }
                    },
                    error: function () {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            }
            evt.stopPropagation();
            evt.preventDefault();
            return false;
        });

        roomHubProxy.client.receiveNewPost = function(data) {
            $(".room-detail-post-list").prepend(data);
            commonModule.likePost();
            commonModule.dislikePost();
        }

        $(".accept-request-join-btn").click(function(evt){
            if(evt.handled !== true) {
                evt.handled = true;
                var tr = $(this).closest("tr");
                var userId = parseInt($(this).attr("role"));

                $.ajax({
                    url: '/Room/AcceptRequestJoinRoom',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        roomId: parseInt('@roomId'),
                        userId: userId
                    },
                    success: function (data) {
                        if(typeof(data) == "undefined" || data == null || data == false) {
                            swal("Oops...", "The room is already full of slots!", "error");
                        }
                        else {
                            $(tr).remove();
                        }
                    },
                    error: function () {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            }
        });

        $(".decline-request-join-btn").click(function(evt){
            if(evt.handled !== true) {
                evt.handled = true;
                var tr = $(this).closest("tr");
                var userId = parseInt($(this).attr("role"));

                $.ajax({
                    url: '/Room/DeclineRequestJoinRoom',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        roomId: parseInt('@roomId'),
                        userId: userId
                    },
                    success: function (data) {
                        if(typeof(data) == "undefined" || data == null || data == false) {
                            swal("Oops...", "Something went wrong! Try again later!", "error");
                        }
                        else {
                            $(tr).remove();
                        }
                    },
                    error: function () {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            }
        });

        $("#id-close-modal").click(function(evt){
            if(evt.handled !== true) {
                evt.handled = true;
                $('#view-request-join-modal').modal('hide');
            }
        });

        $("#id-textarea-chat-room").keydown(function (evt) {
            commonModule.handleTagging(evt, this);
        });

        $("#id-tag-friend-join-room").keydown(function (evt) {
            commonModule.handleTagging(evt, this);
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            commonModule.setBlocksit($(".blog-landing"), 250);
        });

        $("#id-invite-friend-btn").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                var listId = commonModule.findListFriendIdTagging($("#id-tag-friend-join-room").val());
                // send request


                $("#id-tag-friend-join-room").val("").text("");
                evt.handled = true;
                evt.preventDefault();
            }
        });

        $("#id-request-join-room-btn").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                $(this).closest("div").hide();
                $("#id-sent-request-join-room-btn").closest("div").show();

                $.ajax({
                    url: '/Room/RequestJoinRoom',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        roomId: parseInt('@roomId'),
                        userId: parseInt('@userId')
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function () {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
                evt.handled = true;
                evt.preventDefault();
            }
        });
        // Save general plan.
        $('#g-plan-btnPopupSave').click(function() {
            var dataPass = {
                workportion: $('#g-plan-work-portion').val(),
                note: $('#g-plan-note').val(),
                assignee: $('#g-plan-assignee').val(),
                startdate: $('#g-plan-start').val()
            };

            $.ajax({
                url: '/Room/AddGeneralPlan',
                type: 'POST',
                dataType: 'json',
                data: dataPass,
                success: function (data) {
                    var planContent = '<div>';
                    planContent += '<div class="general-plan-list-container">';
                    planContent += '<div class="general-plan-label border-radius-top-left border-radius-top-right">';
                    planContent += '<p>'+ dataPass.workportion + '</p>';
                    planContent += '</div>';
                    planContent += '<div class="general-plan-content">';
                    planContent += dataPass.note;
                    planContent += '</div>';
                    planContent += '<div>';
                    planContent += '<ul>';
                    planContent += '<li><b>Complete on:</b> ' + dataPass.startdate + '</li>';
                    planContent += '<li>';
                    planContent += '<b>Person in charge:</b>';

                    for (var i = 0; i < data.length; i++) {
                        planContent += '<a href="/User/Index/' + data[i].UserId + '" class="hover-card-user">' + data[i].FirstName + ' ' + data[i].LastName + '</a>; ';
                    }

                    planContent += '</li>';
                    planContent += '</ul>';
                    planContent += '<div class="dark-divider"></div>';
                    planContent += '<div class="user-info">';
                    planContent += '<img src="@(((User)Session["user"]).Avatar)" alt="Avatar" class="avatar"/>';
                    planContent += '<div style="width: 100%">';
                    planContent += '<a href="/User/Index/@(Session["UserId"])" class="hover-card-user">';
                    planContent += '<div class="name-user">@(((User)Session["user"]).FirstName)' + ' ' + '@(((User)Session["user"]).LastName)' + '</div>';
                    planContent += '</a>';
                    planContent += '<div class="post-time">' + moment().format('YYYY-MM-DD hh:mm:ss') + '</div>';
                    planContent += '</div>';
                    planContent += '</div>';
                    planContent += '</div>';
                    planContent += '</div>';

                    $(".blog-landing").prepend(planContent);
                    commonModule.setBlocksit($(".blog-landing"), 250);

                    // Clear values.
                    $('#g-plan-work-portion').val('');
                    $('#g-plan-note').val('');
                    $('#g-plan-assignee').val('');
                    $('#g-plan-start').val('');
                },
                error: function () {
                    swal("Oops...", "Something went wrong! Try again later!", "error");
                }
            });
        });

        // Add estimation item.
        $('#estimation-btnPopupSave').click(function() {
            var dataPassAdd = {
                payment: $('#estimation-payment').val(),
                price: $('#estimation-price').val(),
                payer: $('#estimation-payer').val(),
                datecreated: moment().format('YYYY-MM-DD')
            };

            var dataPassEdit = {
                id: $('#estimation-id').val(),
                payment: $('#estimation-payment').val(),
                price: $('#estimation-price').val(),
                payer: $('#estimation-payer').val(),
            };

            if (dataPassEdit.id != '-1') {
                $.ajax({
                    url: '/Room/EditEstimation',
                    type: 'POST',
                    dataType: 'json',
                    data: dataPassEdit,
                    success: function() {
                        // Clear values.
                        $('#estimation-id').val('-1');
                        $('#estimation-payment').val('');
                        $('#estimation-price').val('');
                        $('#estimation-payer').val('');
                    },
                    error: function() {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            } else {
                $.ajax({
                    url: '/Room/AddEstimation',
                    type: 'POST',
                    dataType: 'json',
                    data: dataPassAdd,
                    success: function(data) {
                        var dataPrepend = {
                            'id': data,
                            'payment': $('#estimation-payment').val(),
                            'price': $('#estimation-price').val(),
                            'creator': '@Session["username"]',
                            'payer': $('#estimation-payer').val(),
                            'datecreated': moment().format('YYYY-MM-DD')
                        };

                        $('#estimation-table').bootstrapTable('prepend', dataPrepend);

                        // Clear values.
                        $('#estimation-id').val('-1');
                        $('#estimation-payment').val('');
                        $('#estimation-price').val('');
                        $('#estimation-payer').val('');
                    },
                    error: function() {
                        swal("Oops...", "Something went wrong! Try again later!", "error");
                    }
                });
            }
        });

        if (typeof (chatHubProxy) === "undefined") {
            chatHubProxy = $.connection.chatHub;
        }
        $.connection.hub.start().done(function () {
            chatHubProxy.server.getListMessageInRoom(@roomId);
        });

        chatHubProxy.client.getMessageInRoom = function (content) {
            $("#id-chat-list").append(content);
        }

        $("#id-textarea-chat-room").keydown(function (evt) {
            if (evt.keyCode == 13) {
                var text = $(this).val();
                createMessageInRoom(text, $("#id-chat-list"));
                $(this).text("").val("");
                evt.preventDefault();
            }
        });

        var createMessageInRoom = function (content, selector) {
            var controller = "/User/CreateMessageInRoom/";

            var data = {
                roomId: @roomId,
                content: content
            };

            $.ajax({
                type: 'POST',
                url: controller,
                data: data,
                success: function (data, textstatus) {
                    // send notification
                    var message = data;
                    if (message == null || message.length == 0) {
                        return;
                    }
                    var tmp = "";
                    tmp += "<li class='self'>";
                    tmp += "<div class='avatar'>";
                    tmp += "<img src='" + $("#id-avatar-current-user").attr("src") + "' />";
                    tmp += "</div>";
                    tmp += "<div class='messages' style='border-bottom: #19B5FF 3px solid'>";
                    tmp += "<p>" + message["Content"] + "</p>";
                    tmp += "<time datetime='" + message["DateCreated"] + "'><a href='/User/Index/@userId'>" + $("#id-avatar-current-user").attr("alt") + "</a>" + message["DateCreated"] + "</time>";
                    tmp += "</div>";
                    tmp += "</li>";

                    $(selector).append(tmp);

                    $.connection.hub.start().done(function () {
                        chatHubProxy.server.sendChatMessageInRoom(tmp.replace("self", "other"), @roomId);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        };
    });

    $(function () {
        $("#status_message_room").keydown(function (evt) {
            commonModule.handleTagging(evt, this);
        });
        /*
        $("#id-post-submit").click(function (evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once

                evt.handled = true;
            }
        });*/

        $("#id-picture-button-room").click(function () {
            $("#post-add-images-wrapper-room").toggleClass("hidden");
            $("#post-add-videos-wrapper-room").removeClass("hidden").addClass("hidden");
        });

        $("#id-video-button-room").click(function () {
            $("#post-add-videos-wrapper-room").toggleClass("hidden");
            $("#post-add-images-wrapper-room").removeClass("hidden").addClass("hidden");
        });

        $("#post-images-upload-room").change(function (e) {
            previewImages(this.files);

            uploadImages(this.files);
        });

        $("#post-video-upload-room").change(function (e) {
            $("#post-video-file-name-room").text(e.target.files[0].name);
        });

        $("#id-posting-room img").each(function () {
            var aspectRatio = $(this).width() / $(this).height();
            $(this).data("aspect-ratio", aspectRatio);

            if (aspectRatio > 1) {
                $(this).css({
                    height: "100%"
                });
            } else if (aspectRatio < 1) {
                $(this).css({
                    width: "100%"
                });
            }
        });
    });

    function previewImages(files) {
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var imageType = /^image\//;

            if (!imageType.test(file.type)) {
                continue;
            }

            var previewWrapper = document.createElement("div");
            previewWrapper.classList.add("upload-media-preview");

            var cropWrapper = document.createElement("div");
            cropWrapper.classList.add("crop");

            var img = document.createElement("img");
            img.file = file;

            cropWrapper.appendChild(img);
            previewWrapper.appendChild(cropWrapper);

            var imagesWrapper = $("#post-image-preview-wrapper-room");
            imagesWrapper.append(previewWrapper);

            var reader = new FileReader();
            reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
            reader.readAsDataURL(file);
        }
    }

    function uploadImages(files) {
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/Upload/UploadPhoto',
                    contentType: false,
                    processData: false,
                    data: data,
                    beforeSend: function () {
                        $("#post-upload-images-progress-room").removeClass("hidden");
                    },
                    success: function (result) {
                        $("#post-upload-images-progress-room").addClass("hidden");

                        for (var i = 0; i < result.length; i++) {
                            var imageNameInput = $("#post-add-images-wrapper-room").find('input[name="uploadedimages"]');
                            imageNameInput.val(imageNameInput.val() + "#" + result[i]);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] === "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    }
</script>