@model FlyAwayPlus.Models.User

<link href="~/Content/friendSuggest.css" rel="stylesheet" />
@{
    var listSuggestFriend = ViewData["listSuggestFriend"] as List<FlyAwayPlus.Models.User>;
    var listFriendType = ViewData["listFriendType"] as List<string>;
    var listMutualFriends = ViewData["listMutualFriends"] as List<int>;
}
<div id="friendsToFollow" class="bottomItem">
    <div class="FriendsToFollow Module">
        <h2 class="memoTitle" style="margin:0px;">
            <a href="javascript:void(0)">Find friends<i class="glyphicon glyphicon-circle-arrow-right arrow"></i></a>
        </h2>

        <ul class="List Module">
            @for (int index = 0; index < listSuggestFriend.Count; index++)
            {
                var suggest = listSuggestFriend[index];
                <li data-index="@index">
                    <div class="Module User followFriendsItem small">
                        <div class="content">
                            <a href="/User/Index/@suggest.UserId">
                                <span class="thumbImageWrapper">
                                    <div class="Image Module">
                                        <div class="heightContainer">
                                            <img data-src="@suggest.Avatar" alt="@String.Format("{0} {1}", suggest.FirstName, suggest.LastName)" style="" src="@suggest.Avatar">
                                        </div>
                                    </div>
                                </span>
                            </a>
                            <div class="contactUser">
                                <a class="contactUsername hover-card-user" href="/User/Index/@suggest.UserId">@String.Format("{0} {1}", suggest.FirstName, suggest.LastName)</a>
                                <br />
                                <p style="margin:0px;">@listMutualFriends[index] mutuals friends</p>
                                @if (listFriendType[index].Equals("request"))
                                {
                                    <button role="@suggest.UserId"  type="button" class="Button FollowButton Module UserFollowButton borderless hasText notNavigatable">
                                        <span class="buttonText">Waitting for accept</span>
                                    </button>
                                }
                                else
                                {
                                    <button role="@suggest.UserId" type="button" class="cls-friend-request Button FollowButton Module UserFollowButton borderless hasText notNavigatable">
                                        <span class="buttonText">Send Friend Request</span>
                                    </button>
                                    <button style="display:none" role="@suggest.UserId" type="button" class="Button FollowButton Module UserFollowButton borderless hasText notNavigatable">
                                        <span class="buttonText">Friend request is sent</span>
                                    </button>
                                }
                            </div>
                            <i class="dismiss"></i>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".cls-friend-request").click(function (evt) {
            var otherId = parseInt($(this).attr("role"));

            var controller = "/User/SendRequestFriend/";
            var data = {
                userId: @Model.UserId,
                otherUserId: otherId
            };

            commonModule.callAjax(controller, data, null);
            commonModule.sentFriendRequestNow(@Model.UserId, otherId);
            $(".UserFollowButton[role=" + otherId + "]").show();
            $(this).hide();
            evt.preventDefault();
        });
    });
</script>