<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fly Away Plus</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    <script src="~/Scripts/blocksit.min.js"></script>

    <link href="~/Content/bootflat.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/bootstrap-social.css")
</head>
<body>
    <div class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/" class="navbar-brand">
                    <img src="../../Images/FAP logo.PNG" alt="FAP" height="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="current" href="/Home/">Home</a></li>
                    <li><a class="" href="#">Explore</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["authenicated"] == null || Session["authenicated"].ToString().IsEmpty())
                    {
                        <li><a class="navbar-right" data-toggle="modal" data-target="#login-modal">Login/Sign Up</a></li>
                    }
                    else
                    {
                        <li><a href="/Login/Logout">Log out</a></li>
                        <li><a href="#">@Session["username"]</a></li>
                    }
                </ul>
                @Html.Partial("_PostPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Action("LoginPartial", "Login")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
