<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fly Away Plus</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    <script src="~/Scripts/blocksit.min.js"></script>
    <script src="~/Scripts/jquery.elastic.source.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootflat.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/bootstrap-social.css")

    <script src="~/Scripts/jquery.simpleWeather.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Raleway:100,700,800" rel="stylesheet" type="text/css">

    <link href="~/Content/morphing-search.css" rel="stylesheet"/>

    <script src="~/Scripts/images-loaded.min.js"></script>

    <script src="~/Scripts/Fancy/jquery.fancybox.pack.js"></script>
    <link href="~/Content/Fancy/jquery.fancybox.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/Home/" class="navbar-brand">
                    <img src="../../Images/FAP logo.PNG" alt="FAP" height="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["authenicated"] == null || Session["authenicated"].ToString().IsEmpty())
                    {
                        <li><a class="navbar-right interact-item remove-background" data-toggle="modal" data-target="#login-modal">Login/Sign Up</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="#" class="remove-background">
                                <i class="fa fa-fw fa-user-plus interact-item interact-button"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="remove-background">
                                <i class="fa fa-fw fa-comments interact-item interact-button"></i>
                            </a>
                        </li>
                        <li class="notification-li">
                            <a href="#" class="remove-background" id="btn-notification">
                                <i class="fa fa-fw fa-bell interact-item interact-button"></i>
                                <span class="notification-count badge badge-danger">3</span>
                            </a>

                            <div class="notification-container">
                                <div class="notification-title">
                                    Notifications
                                </div>
                                <hr />
                                <div class="notifications notifications-body" style="min-height:200px; max-height: 200px; overflow-y: auto; overflow-x: hidden; padding-top: 5px!important;">
                                    @for (int i = 0; i < 15; i++)
                                    {
                                        <div style="width:100%; height: 65px;">
                                            <a href="#" style="padding: 7px 7px 8px 10px; width:100%; height: 100%;">
                                                <!--
                                                <img class="avatar" style="float:left" src="~/Images/avatar/avatar-default.jpg" />
                                                -->
                                                <div style="float:left">
                                                    <span class="avatar" style="margin-right: 8px; background-image: url('/Images/avatar/avatar-default.jpg'); background-repeat: no-repeat; height: 50px; width: 50px;"></span>
                                                </div>
                                                <div style="">Duc FiLan da thich ban  tai sao the aaaaaaaaaaaaaaaaaaaaaa</div>
                                            </a>
                                        </div>
                                        <hr />
                                    }
                                </div>
                                <div class="notification-footer">
                                    <a href="#">See All</a>
                                </div>
                            </div>
                        </li>
                        <li style="height: 53px">
                            <a data-toggle="dropdown" class="dropdown-toggle interact-item remove-background">
                                <img src="@(string.IsNullOrEmpty(Session["userAva"] + string.Empty) ? "/Images/avatar/avatar-default.jpg" : @Session["userAva"])"
                                     alt="@Session["username"]"
                                     class="avatar" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/User/Index/@Session["userID"]">View profile</a></li>
                                <li><a href="/Login/Logout">Log out</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_PostPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:85%; margin-left: 5%;">
        @Html.Partial("_SearchPartial")
        @RenderBody()
        <hr />
    </div>

    @Html.Action("LoginPartial", "Login")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("#btn-notification").click(function () {
                $(".notification-container").fadeToggle(300);
                $(".notification-count").fadeOut("slow");
                return false;
            });

            //Document Click
            $(document).click(function () {
                $(".notification-container").hide();
            });
            //Popup Click
            $(".notification-container").click(function () {
                return false;
            });
        });

        $(document).ready(function () {
            notificationHubProxy = $.connection.notificationHub;

            notificationHubProxy.client.receiveNotification = function (content) {
                console.log(content);
            }

            $.connection.hub.start().done(function () {
                var login = '@Session["authenicated"]';
                if (login != null && login != "") {
                    notificationHubProxy.server.loadNotification(@Session["userID"]);
                }
            });
        });
    </script>
</body>
</html>
