<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fly Away Plus</title>
    <link href="~/Content/bootflat.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/common.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/bootstrap-social.css")
</head>
<body>
    <div class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../Home/" class="navbar-brand">
                    <img src="../../Images/FAP logo.PNG" alt="FAP" height="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="current" href="../Home/">Home</a></li>
                    <li><a class="" href="../LookAround/">Explore</a></li>
                </ul>
                @if (Session["authenicated"] == null || Session["authenicated"].ToString().IsEmpty())
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-right" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Login/Logout">Log out</a></li>
                        <li><a href="#">@Session["username"]</a></li>
                    </ul>
                }
                @Html.Partial("_PostPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Html.Action("LoginPartial", "Login")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
