<link href="~/Content/RoomPage/room-detail.css" rel="stylesheet" />

@using FlyAwayPlus.Models
@{
    var listRoom = ViewData["listRoom"] as List<Room>;
    var listAdminRoom = ViewData["listAdminRoom"] as List<User>;
}
<link href="~/Content/Room/room-list.css" rel="stylesheet" />
@for (int index = 0; index < listRoom.Count; index++)
{
    var cover = listRoom[index].PhotoCoverUrl;
    if (cover == null || listRoom[index].PhotoCoverUrl.IsEmpty())
    {
        cover = "/Images/background/nhatrang.jpg";
    }
    <div class="room-list-container">
        <div class="room-list-header">
            <div class="room-list-bio" style="background-image:url(@cover)"><!--BG--></div>
            <div class="room-list-avatarcontainer">
                <img src="@listAdminRoom[index].Avatar" alt="avatar" class="room-list-avatar">
                <div class="room-list-hover">
                    <i class="fa fa-heart"></i>
                </div>
            </div>
        </div>

        <div class="room-list-content">
            <div class="room-list-place-name">
                <h3>
                    @listRoom[index].RoomName
                </h3>
            </div>
            <ul class="room-detail-infor-milestones">
                <li style="height: 30px">
                    <i class="fa fa-at"></i>
                    <p><b>START PLACE:</b></p>&nbsp; <span>@listRoom[index].StartLocation</span>
                </li>
                <li style="height: 30px">
                    <i class="fa fa-at"></i>
                    <p><b>DESTINATION:</b></p>&nbsp; <span>@listRoom[index].DestinationLocation</span>
                </li>
            </ul>
            <div class="divider"></div>
            <div class="room-list-description">
                @listRoom[index].Description
            </div>

            <div class="room-list-data">
                <ul style="padding-left: 0px;">
                    <li>
                        SLOTS<span><i class="room-list-no-current-member">@listRoom[index].JoinedSlotCount</i>|@listRoom[index].MaxNoSlots</span>
                    </li>
                    <li>
                        START<span>@DateTime.Parse(@listRoom[index].StartDate).ToString("dd MMM yyyy")</span>
                    </li>
                    <li>
                        DURING<span>@listRoom[index].LengthInDays days</span>
                    </li>
                </ul>
            </div>
            <a href="/Room/RoomDetail/@listRoom[index].RoomId" style="margin-left: 90px;" class="room-list-view-detail">View Detail</a>
        </div>
    </div>
}
