@using FlyAwayPlus.Models

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string keyword = ViewData["keyword"].ToString();
    var listUser = ViewData["listUser"] as List<User>;
    var listPlace = ViewData["listPlace"] as List<Place>;
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<Photo>>;
    var numberOfPostDict = ViewData["numberOfPostDict"] as Dictionary<int, int>;
    var wishlist = ViewData["wishlist"] as Dictionary<int, bool>;
    var listRoom = ViewData["listRoom"] as List<Room>;
    var listMutualFriend = ViewData["listMutualFriend"] as List<int>;
    var listRelationUser = ViewData["listRelationUser"] as List<string>;
}
<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />
<link href="~/Content/SearchPage/search.css" rel="stylesheet" />
<link href="~/Content/Room/room-list.css" rel="stylesheet" />

<div class="container">
    <div class="full-width">
        <h3><span class="label label-primary">Search Result for "@keyword"</span></h3>
    </div>

    <div role="tabpanel" class="full-width">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="idBtnSearchPlace" href="#idSearchPlace" aria-controls="idSearchPlace" role="tab" data-toggle="tab">Place (@listPlace.Count)</a></li>
            <li role="presentation"><a id="idBtnSearchPeople" href="#idSearchPeople" aria-controls="idSearchPeople" role="tab" data-toggle="tab">People (@listUser.Count)</a></li>
            <li role="presentation"><a id="idBtnSearchRoom" href="#idSearchRoom" aria-controls="idSearchRoom" role="tab" data-toggle="tab">Room (@listRoom.Count)</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane full-width blog-landing active" id="idSearchPlace">
                @foreach (var place in listPlace)
                {
                    if (listPhotoDict[place.PlaceId] == null || listPhotoDict[place.PlaceId].Count == 0)
                    {
                        continue;
                    }
                    <div class="place-result-container">
                        <div class="place-result-header">
                            <div style="position:absolute; width:100%; height:100%">
                                <span class="boardPinCount">
                                    <div class="Module PinCount">
                                        <span class="pinIcon glyphicon glyphicon-pencil"></span> @numberOfPostDict[place.PlaceId]
                                    </div>
                                </span>
                                <div class="place-result-bio" alt="@place.Name" style="background-image:url(/Images/UserUpload/@listPhotoDict[place.PlaceId][0].Url)"><!--BG--></div>
                            </div>
                        </div>

                        <div class="place-result-content" style="display:block; float:left; width: 100%;">
                            <div class="place-result-place-name">
                                <a href="/Search/SearchDetail/@place.PlaceId">
                                    <h3>@place.Name</h3>
                                </a>
                            </div>
                            <ul class="boardThumbs">
                                @for (int index = 1; index < 4; index++)
                                {
                                    <li>
                                        <span class="hoverMask"></span>
                                        @if (index < listPhotoDict[place.PlaceId].Count)
                                        {
                                            <img style="" class="thumb" src="/Images/UserUpload/@listPhotoDict[place.PlaceId][index].Url">
                                        }
                                    </li>
                                }
                            </ul>
                            @if (wishlist[place.PlaceId])
                            {
                                <a class="cls-add-wishlist-btn" style="display:none;" role="@place.PlaceId" href="javascript:void(0)"><div class="place-result-view-detail">Add To Wishlist</div></a>
                                <a class="cls-remove-wishlist-btn" role="@place.PlaceId" href="javascript:void(0)"><div class="place-result-view-detail">Remove From Wishlist</div></a>
                            }
                            else
                            {
                                <a class="cls-add-wishlist-btn" role="@place.PlaceId" href="javascript:void(0)"><div class="place-result-view-detail">Add To Wishlist</div></a>
                                <a class="cls-remove-wishlist-btn" style="display:none;" role="@place.PlaceId" href="javascript:void(0)"><div class="place-result-view-detail">Remove From Wishlist</div></a>
                            }
                        </div>
                    </div>
                }
            </div>

            <div role="tabpanel" class="tab-pane full-width" id="idSearchPeople">
                @for (int index = 0; index < listUser.Count; index++)
                {
                    <div class="full-width">
                        <li data-index="@listUser[index].UserId">
                            <div class="Module User followFriendsItem small">
                                <div class="content">
                                    <a href="/User/Index/@listUser[index].UserId">
                                        <span class="thumbImageWrapper">
                                            <div class="Image Module">
                                                <div class="heightContainer">
                                                    <img data-src="@listUser[index].Avatar" alt="@string.Format("{0} {1}", listUser[index].FirstName, listUser[index].LastName)" style="" src="@listUser[index].Avatar">
                                                </div>
                                            </div>
                                        </span>
                                    </a>
                                    <div class="contactUser">
                                        <a class="contactUsername hover-card-user" href="/User/Index/@listUser[index].UserId">@string.Format("{0} {1}", listUser[index].FirstName, listUser[index].LastName)</a>
                                        <br />
                                        <p style="margin:0px;">@listMutualFriend[index] mutuals friends</p>

                                        @if (listRelationUser[index].Equals("request"))
                                        {
                                            <button role="@listUser[index].UserId" type="button" class="Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Waitting for accept</span>
                                            </button>
                                        }
                                        else if (listRelationUser[index].Equals("friend"))
                                        {
                                            <button role="@listUser[index].UserId" type="button" class="Button FollowButton Module UserFollowButton borderless cls-unfriend">
                                                <span class="buttonText">Unfriend</span>
                                            </button>

                                            <button style="display:none" role="@listUser[index].UserId" type="button" class="cls-waiting Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Waitting for accept</span>
                                            </button>

                                            <button style="display:none" role="@listUser[index].UserId" type="button" class="cls-friend-request Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Send Friend Request</span>
                                            </button>

                                            <button style="display:none" role="@listUser[index].UserId" type="button" class="cls-sent-request Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Waitting for accept</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button role="@listUser[index].UserId" type="button" class="cls-friend-request Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Send Friend Request</span>
                                            </button>
                                            <button style="display:none" role="@listUser[index].UserId" type="button" class="cls-sent-request Button FollowButton Module UserFollowButton borderless">
                                                <span class="buttonText">Waitting for accept</span>
                                            </button>
                                        }
                                    </div>
                                    <i class="dismiss"></i>
                                </div>
                            </div>
                        </li>
                    </div>
                }
            </div>
            <div role="tabpanel" class="blog-landing tab-pane full-width" id="idSearchRoom" style="max-width:100%;">
                @Html.Partial("_ListRoomPartial")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>

<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(function () {
        commonModule.setBlocksit($(".blog-landing"), 250);

        $(".cls-friend-request").click(function (evt) {
            var otherId = parseInt($(this).attr("role"));

            var controller = "/User/SendRequestFriend/";
            var data = {
                userId: parseInt('@Session["UserId"]'),
                otherUserId: otherId
            };

            commonModule.callAjax(controller, data, null);

            $(this).closest("li").find(".cls-sent-request").show();
            $(this).hide();
            evt.preventDefault();
        });

        $(".cls-unfriend").click(function (evt) {
            var otherId = parseInt($(this).attr("role"));

            var controller = "/User/Unfriend/";
            var data = {
                userId: parseInt('@Session["UserId"]'),
                otherUserId: otherId
            };

            commonModule.callAjax(controller, data, null);

            $(this).closest("li").find(".cls-friend-request").show();
            $(this).hide();
            evt.preventDefault();
        });

        $(".cls-add-wishlist-btn").click(function (evt) {
            var controller = "/User/AddWishPlace/";
            var userId = '@Session["UserId"]';
            if (userId.trim().length == 0) {
                alert("You must login first!!!");
            }
            else {
                var data = {
                    placeId: parseInt($(this).attr("role")),
                    userId: parseInt(userId)
                };
                commonModule.callAjax(controller, data, null);
                $(this).hide();
                $(this).closest(".place-result-content").find(".cls-remove-wishlist-btn").show();
            }
            evt.preventDefault();
        });

        $(".cls-remove-wishlist-btn").click(function (evt) {
            var controller = "/User/RemoveWishPlace/";
            var userId = '@Session["UserId"]';
            if (userId.trim().length == 0) {
                alert("You must login first!!!");
            }
            else {
                var data = {
                    placeId: parseInt($(this).attr("role")),
                    pserId: parseInt(userId)
                };
                commonModule.callAjax(controller, data, null);
                $(this).hide();
                $(this).closest(".place-result-content").find(".cls-add-wishlist-btn").show();
            }
            evt.preventDefault();
        });
    });

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($(".blog-landing"), 250);
    });

    $('#idBtnSearchPlace').on('shown.bs.tab', function (e) {
        commonModule.setBlocksit($("#idSearchPlace"), 250);
    });
    $('#idBtnSearchRoom').on('shown.bs.tab', function (e) {
        commonModule.setBlocksit($("#idSearchRoom"), 250);
    });

</script>