@{
    ViewBag.Title = "SearchDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FlyAwayPlus.Models;

@{
    var currentPlace = ViewData["currentPlace"] as Place;
}
<link href="~/Content/SearchPage/search-detail.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<!--<script src="~/Scripts/markerWithLabel.js"></script>-->
<style>
    .label-img {
        box-sizing: border-box;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-image: url("https:/graph.facebook.com/1112804152067307/picture?type=small");
        background-repeat: no-repeat;
    }
</style>

<div id="id-place-detail">
    <div class="right-content">
        <h3><span id="id-name-place" class="label label-primary center-block">@currentPlace.Name</span></h3>
        <div id="id-list-post-in-place" class="blog-landing">
            @Html.Partial("_ListPost")
        </div>
    </div>
</div>
<div id="id-place-map" class="right-map">
</div>

<script>
    $(window).load(function () {
        commonModule.setBlocksit($("#id-list-post-in-place"), 212);
    });

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($("#id-list-post-in-place"), 212);
    });

    $(document).ready(function() {

    });

    var searchDetailModule = (function () {
        var _data = {};
        var _name = {};

        loadPostInPlace = function(index, placeId, placeName) {
            if(typeof (_data[index]) === 'undefined') {
                // call Ajax
                $.ajax({
                    url: "/Search/LoadPostInPlace/",
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        placeId: placeId
                    },
                    success: function (data) {
                        console.log(data);
                        if (typeof (data) === 'undefined' || data == null || data == "null") {
                            console.log(data);
                        }
                        else {
                            $("#id-list-post-in-place").html("");
                            $("#id-name-place").html("");
                            _data[index] = data;
                            _name[index] = placeName;
                            $("#id-list-post-in-place").append(_data[index]);
                            $("#id-name-place").html(placeName);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
            else {
                $("#id-list-post-in-place").html("");
                $("#id-name-place").html("");
                $("#id-list-post-in-place").append(_data[index]);
                $("#id-name-place").html(_name[index]);
                commonModule.setBlocksit($("#id-list-post-in-place"), 212);
            }
        };

        setData = function(index, data) {
            _data[index] = data;
        };

        setname = function(index, name) {
            _name[index] = name;
        }
        return {
            loadPostInPlace: loadPostInPlace,
            setData: setData,
            setname: setname
        }
    })();

    function initialize() {
        var myCenter = new google.maps.LatLng(@currentPlace.Latitude, @currentPlace.Longitude);
        var myStyles = [
            {
                "featureType": "administrative.country",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
			{
			    "featureType": "administrative",
			    "elementType": "labels.text.fill",
			    "stylers": [
					{
					    "color": "#444444"
					}
			    ]
			},
            {
                "featureType": "administrative.province",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "administrative.locality",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "administrative.neighborhood",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape.natural",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "visibility": " on"
                    },
                    {
                        "color": "rgb(231, 231, 231)"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "visibility": "off"
                    },
                    {
                        "hue": "#1900ff"
                    },
                    {
                        "color": "#c0e8e8"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 100
                    },
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "off"
                    },
                    {
                        "lightness": 700
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#46bcec"
                    },
					{ invert_lightness: true }
                ]
            }
        ];
        var mapOptions = {
            zoom: 12,
            center: myCenter,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: myStyles
        };
        var map = new window.google.maps.Map(document.getElementById('id-place-map'), mapOptions);

        // Marker Current
        var currentMaker = new google.maps.Marker({
            position: new google.maps.LatLng(@currentPlace.Latitude, @currentPlace.Longitude),
            icon: {
                url: '/Images/current-marker.png',
                className: "avatar"
            },
            //labelClass: "label-img avatar", // the CSS class for the label
            map: map
        });

        var infoCurrent = new google.maps.InfoWindow({
            content: '<div id="iw_container_0">' +
             '<div class="iw_title">@currentPlace.Name</div>' +
             '</div>',
            maxWidth: 200
        });

        google.maps.event.addListener(currentMaker, 'mouseover', function () {
            infoCurrent.open(map, currentMaker);
        });
        google.maps.event.addListener(currentMaker, 'mouseout', function () {
            infoCurrent.close();
        });
        google.maps.event.addListener(currentMaker, 'click', function () {
            searchDetailModule.loadPostInPlace(0, @currentPlace.PlaceId, '@currentPlace.Name');
        });

        // Marker Other
        var listPlace = JSON.parse('@ViewData["listPlace"]'.split("&quot;").join("\""));
        for(var index = 0; index < listPlace.length; index++) {
            (function(index){
                var otherMaker = new google.maps.Marker({
                    position: new google.maps.LatLng(listPlace[index]["latitude"], listPlace[index]["longitude"]),
                    icon: {
                        url: '/Images/other-marker.png'
                    },
                    map: map
                });
                var infoOther = new google.maps.InfoWindow({
                    content: '<div id="iw_container_' + index + '">' +
                     '<div class="iw_title">' + listPlace[index]["name"] + '</div>' +
                     '</div>',
                    maxWidth: 200
                });
                google.maps.event.addListener(otherMaker, 'mouseover', function () {
                    infoOther.open(map, otherMaker);
                });
                google.maps.event.addListener(otherMaker, 'mouseout', function () {
                    infoOther.close();
                });
                google.maps.event.addListener(otherMaker, 'click', function () {
                    searchDetailModule.loadPostInPlace(index + 1, parseInt(listPlace[index]["PlaceId"]), listPlace[index]["name"]);
                });
            })(index);
        }

        searchDetailModule.setData(0, $("#id-list-post-in-place").html());
        searchDetailModule.setname(0, $("#id-name-place").html());
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>