@using FlyAwayPlus.Models

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string keyword = ViewData["keyword"].ToString();
    var listUser = ViewData["listUser"] as List<User>;
    var listPlace = ViewData["listPlace"] as List<Place>;
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<Photo>>;
    var numberOfPostDict = ViewData["numberOfPostDict"] as Dictionary<int, int>;
    var wishlist = ViewData["wishlist"] as Dictionary<int, bool>;
    var listRoom = ViewData["listRoom"] as List<Room>;
}
<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />
<link href="~/Content/SearchPage/search.css" rel="stylesheet" />
<link href="~/Content/Room/room-list.css" rel="stylesheet" />

<div class="container">
    <div class="full-width">
        <h3><span class="label label-primary">Search Result for "@keyword"</span></h3>
    </div>

    <div role="tabpanel" class="full-width">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="idBtnSearchPlace" href="#idSearchPlace" aria-controls="idSearchPlace" role="tab" data-toggle="tab">Place (@listPlace.Count)</a></li>
            <li role="presentation"><a id="idBtnSearchPeople" href="#idSearchPeople" aria-controls="idSearchPeople" role="tab" data-toggle="tab">People (@listUser.Count)</a></li>
            <li role="presentation"><a id="idBtnSearchRoom" href="#idSearchRoom" aria-controls="idSearchRoom" role="tab" data-toggle="tab">Room (@listRoom.Count)</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane full-width blog-landing active" id="idSearchPlace">
                @foreach (var place in listPlace)
                {
                    if (listPhotoDict[place.placeID] == null || listPhotoDict[place.placeID].Count == 0)
                    {
                        continue;
                    }
                    <div class="place-result-container">
                        <div class="place-result-header">
                            <div style="position:absolute; width:100%; height:100%">
                                <span class="boardPinCount">
                                    <div class="Module PinCount">
                                        <span class="pinIcon glyphicon glyphicon-pencil"></span> @numberOfPostDict[place.placeID]
                                    </div>
                                </span>
                                <div class="place-result-bio" alt="@place.name" style="background-image:url(/Images/UserUpload/@listPhotoDict[place.placeID][0].url)"><!--BG--></div>
                            </div>
                        </div>

                        <div class="place-result-content" style="display:block; float:left">
                            <div class="place-result-place-name">
                                <a href="/Search/SearchDetail/@place.placeID">
                                    <h3>@place.name</h3>
                                </a>
                            </div>
                            <ul class="boardThumbs">
                                @for (int index = 1; index < listPhotoDict[place.placeID].Count; index++)
                                {
                                    <li>
                                        <span class="hoverMask"></span>
                                        <img style="" class="thumb" src="/Images/UserUpload/@listPhotoDict[place.placeID][index].url">
                                    </li>
                                }
                            </ul>
                            @if (wishlist[place.placeID])
                            {
                                <a class="cls-add-wishlist-btn" style="display:none;" role="@place.placeID" href="javascript:;"><div class="place-result-view-detail">Add To Wishlist</div></a>
                                <a class="cls-remove-wishlist-btn" role="@place.placeID" href="javascript:;"><div class="place-result-view-detail">Remove From Wishlist</div></a>
                            }
                            else
                            {
                                <a class="cls-add-wishlist-btn" role="@place.placeID" href="javascript:;"><div class="place-result-view-detail">Add To Wishlist</div></a>
                                <a class="cls-remove-wishlist-btn" style="display:none;" role="@place.placeID" href="javascript:;"><div class="place-result-view-detail">Remove From Wishlist</div></a>
                            }
                        </div>
                    </div>
                }
            </div>

            <div role="tabpanel" class="tab-pane full-width" id="idSearchPeople">
                @foreach (var user in listUser)
                {
                    <div class="full-width">
                        <li data-index="@user.userID">
                            <div class="Module User followFriendsItem small">
                                <div class="content">
                                    <a href="/User/Index/2/">
                                        <span class="thumbImageWrapper">
                                            <div class="Image Module">
                                                <div class="heightContainer">
                                                    <img data-src="@user.avatar" alt="@string.Format("{0} {1}", user.firstName, user.lastName)" style="" src="@user.avatar">
                                                </div>
                                            </div>
                                        </span>
                                    </a>
                                    <div class="contactUser">
                                        <a class="contactUsername hover-card-user" href="/User/Index/@user.userID">@string.Format("{0} {1}", user.firstName, user.lastName)</a>
                                        <br />
                                        <p style="margin:0px;">mutuals friends</p>

                                        <button role="@user.userID" type="button" class="Button FollowButton Module UserFollowButton borderless hasText notNavigatable">
                                            <span class="buttonText">Waitting for accept</span>
                                        </button>
                                    </div>
                                    <i class="dismiss"></i>
                                </div>
                            </div>
                        </li>
                    </div>
                }
            </div>
            <div role="tabpanel" class="blog-landing tab-pane full-width" id="idSearchRoom" style="max-width:100%;">
                @Html.Partial("_ListRoomPartial")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>

<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(function () {
        commonModule.setBlocksit($(".blog-landing"), 250);

        $(".cls-add-wishlist-btn").click(function (evt) {
            var controller = "/User/AddWishPlace/";
            var userID = '@Session["userID"]';
            if (userID.trim().length == 0) {
                alert("You must login first!!!");
            }
            else {
                var data = {
                    placeID: parseInt($(this).attr("role")),
                    userID: parseInt(userID)
                };
                commonModule.callAjax(controller, data, null);
                $(this).hide();
                $(this).closest(".place-result-content").find(".cls-remove-wishlist-btn").show();
            }
            evt.preventDefault();
        });

        $(".cls-remove-wishlist-btn").click(function (evt) {
            var controller = "/User/RemoveWishPlace/";
            var userID = '@Session["userID"]';
            if (userID.trim().length == 0) {
                alert("You must login first!!!");
            }
            else {
                var data = {
                    placeID: parseInt($(this).attr("role")),
                    userID: parseInt(userID)
                };
                commonModule.callAjax(controller, data, null);
                $(this).hide();
                $(this).closest(".place-result-content").find(".cls-add-wishlist-btn").show();
            }
            evt.preventDefault();
        });
    });

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($(".blog-landing"), 250);
    });

    $('#idBtnSearchPlace').on('shown.bs.tab', function (e) {
        commonModule.setBlocksit($("#idSearchPlace"), 250);
    });
    $('#idBtnSearchRoom').on('shown.bs.tab', function (e) {
        commonModule.setBlocksit($("#idSearchRoom"), 250);
    });

</script>