@model FlyAwayPlus.Models.User
@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<FlyAwayPlus.Models.Photo>>;
    var listPlaceDict = ViewData["listPlaceDict"] as Dictionary<int, FlyAwayPlus.Models.Place>;
    var friend = ViewData["friend"] as List<FlyAwayPlus.Models.User>;
    var userSession = ViewData["userSession"] as FlyAwayPlus.Models.User;
    var listPost = ViewData["listPost"] as List<FlyAwayPlus.Models.Post>;
    string friendType = ViewData["isFriend"].ToString();
}
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<header>
    <figure class="profile-banner">
        <img src="/Images/background/nhatrang2.jpg" alt="Profile banner" class="img-responsive" />
    </figure>
    <figure class="profile-picture"
            style="background-image: url('@Model.Avatar')">
    </figure>
    <div class="profile-stats">
        <ul role="tablist">
            <li role="presentation"><a href="javascript:;">@String.Format("{0} {1}", Model.FirstName, Model.LastName)</a></li>
            <li role="presentation"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">@listPost.Count<span>Post</span></a></li>
            <li role="presentation"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">18 <span>Places</span></a></li>
            <li role="presentation"><a href="#photos-gallery" aria-controls="photos-gallery" role="tab" data-toggle="tab">182 <span>Photos</span></a></li>
            <li role="presentation"><a href="#messages" style="margin-right:10px;" aria-controls="messages" role="tab" data-toggle="tab">324 <span>Videos</span></a></li>
        </ul>

        <div class="interact-area">
            @if (Model.UserId == userSession.UserId)
            {
                <a href="javascript:;" id="idEditProfile" data-toggle="modal" data-target="#id-profile-modal" class="btn btn-primary pull-right" style="margin-right: 10px">Profile <i class="glyphicon glyphicon-user"></i></a>
            }
            else if (friendType.Equals("friend"))
            {
                <a href="javascript:;" id="idUnfriend" class="btn btn-primary pull-right">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:;" id="idAddfriend" class="btn btn-primary pull-right" style="display:none">Request friend</a>
                <a href="javascript:;" id="idRequestFriend" class="btn btn-primary pull-right" style="display:none">Friend request sent</a>
                <a href="javascript:;" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
            else if (friendType.Equals("request"))
            {
                <a href="javascript:;" id="idUnfriend" class="btn btn-primary pull-right" style="display:none">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:;" id="idAddfriend" class="btn btn-primary pull-right" style="display:none">Request friend</a>
                <a href="javascript:;" id="idRequestFriend" class="btn btn-primary pull-right">Friend request sent</a>
                <a href="javascript:;" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
            else
            {
                <a href="javascript:;" id="idUnfriend" class="btn btn-primary pull-right" style="display:none">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:;" id="idAddfriend" class="btn btn-primary pull-right">Request friend</a>
                <a href="javascript:;" id="idRequestFriend" class="btn btn-primary pull-right" style="display:none">Friend request sent</a>
                <a href="javascript:;" id="idReport" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
        </div>
    </div>
    <h1>@String.Format("{0} {1} has no friends", @Model.FirstName, @Model.LastName)</h1>
</header>

<div class="vertical-space-15"></div>

<!-- Friend list -->
<div class="col-md-12 frame-container">
    <div class="friend-list-header friend-title-header" style="overflow:hidden">
        <span class="text-capitalize" style="display: block; margin-top: 18px;">MY FRIENDS</span>
    </div>

    <div class="friend-list-avatar">
        @if (friend.Count > 17)
        {
            for (int index = 0; index < 17; index++)
            {
                <div class="padding-5 col-md-2">
                    <a href="/User/Index/@friend[index].UserId" class="hover-card-user">
                        <img class="circle-image" height="50" src="@friend[index].Avatar" alt="Avatar" />
                    </a>
                </div>
            }
        }
        else
        {
            foreach (var userFriend in friend)
            {
                <div class="padding-5 col-md-2">
                    <div class="padding-5 col-md-2">
                        <a href="/User/Index/@userFriend.UserId" class="hover-card-user">
                            <img class="circle-image" height="50" src="@userFriend.Avatar" alt="Avatar" />
                        </a>
                    </div>
                </div>
            }
            if (friend.Count == 0)
            {
                <p>@String.Format("{0} {1} has no friends", @Model.FirstName, @Model.LastName)</p>
            }
        }
    </div>
    <div class="friend-list-header view-more-friend-title" style="overflow:hidden">
        <span id="id-view-all-friend" class="text-capitalize" style="display: block; margin-top: 18px;">VIEW ALL</span>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="timeline">
        <div class="container">
            <div class="col-md-12">

                <div class="blog-landing">
                    @Html.Partial("_ListPost")
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="photos-gallery">
        <div class="images-wrapper">
            @foreach (var image in listPhotoDict)
            {
                <div class="image-element">
                    <img src="/Images/UserUpload/@image.Value.First().Url" class="img-zoom" alt="" />
                    <div class="dark-wrapper">
                        <ul class="post-actions" style="padding-left: 0;">
                            <li>
                                <a href="@(image.Value.FirstOrDefault() == null ? "/Image/UIHelper/default-avatar.jpg" : "/Images/UserUpload/" + image.Value.First().Url)" rel="group"
                                   class="btn btn-primary fancybox"
                                   title="@listPlaceDict.First(p => p.Key == @image.Key).Value.Name"
                                   style="width: 90px">Enlarge</a>
                            </li>
                            <li>
                                <a href="/Post/Index/@image.Key" class="btn btn-primary" style="width: 90px">View post</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
</div>

<!-- Timeline -->
<!-- Modal -->
<div class="modal fade" id="myFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 40px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Friend List</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var userFriend in friend)
                    {
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="@userFriend.Avatar" alt="Avatar" />
                            <a href="/User/Index/@userFriend.UserId"><p class="small text-center hover-card-user">@String.Format("{0} {1}", userFriend.FirstName, userFriend.LastName)</p></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.UserId == userSession.UserId)
{
    <div class="modal fade" id="id-profile-modal" role="dialog" aria-labelledby="id-profile-modal" aria-hidden="true">
        <div class="modal-dialog login-modal-wrap">
            <div class="modal-content">
                <div class="modal-body login-modal-body">
                    <div class="panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="javascript:;" class="active">Profile</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="id-edit-profile" style="margin-top: -15px">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="firstName" style="width: 90%; float:left;" type="text" value="@Model.FirstName" class="form-control" placeholder="First Name" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">First Name is required</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>First Name: </span><span><b>@Model.FirstName</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="lastName" style="width: 90%; float:left;" type="text" value="@Model.LastName" class="form-control" placeholder="Last Name" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">Last Name is required</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Last Name: </span><span><b>@Model.LastName</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; display: none;">
                                                        <div style="width:100%; float:left; margin-top:5px;">
                                                            <input name="phoneNumber" style="width: 90%; float:left;" type="text" value="@Model.PhoneNumber" class="form-control" placeholder="Phone Number" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">Phone Number must be a number</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Phone number: </span>
                                                        @if (Model.PhoneNumber.IsEmpty())
                                                        {
                                                            <span><b>Please input your phonenumber</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.PhoneNumber</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="dateOfBirth" style="width: 90%; float:left;" type="text" value="@Model.DateOfBirth" class="form-control edit-dob" placeholder="DOB" />
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>DOB: </span>
                                                        @if (Model.DateOfBirth.IsEmpty())
                                                        {
                                                            <span><b>Please input your DOB</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.DateOfBirth</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="text-align: center">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    @if (Model.Gender.Equals("male"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="male" name="gender" data-val-required="Gender is required" data-val="true" checked> Male
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="male" name="gender" data-val-required="Gender is required" data-val="true"> Male
                                                        </label>
                                                    }

                                                    @if (Model.Gender.Equals("female"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="female" name="gender"> Female
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="female" name="gender"> Female
                                                        </label>
                                                    }

                                                    @if (Model.Gender.Equals("other"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="other" name="gender"> Other
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="other" name="gender"> Other
                                                        </label>
                                                    }
                                                    <br />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Address: </span>
                                                        @if (Model.Address.IsEmpty())
                                                        {
                                                            <span><b>Please input your address</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.Address</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                    <div class="cls-edit-info" style="width:100%; display:none">
                                                        <div style="width:100%; float:left;">
                                                            <input name="address" style="width: 90%; float:left;" type="text" value="@Model.Address" class="form-control text-box single-line" placeholder="address" />
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div style="width:100%;">
                                                        <span>Email: </span>
                                                        <span><b>@Model.Email</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Password: </span>
                                                        <span><b>******</b><a href="javascript:;" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                    <div class="cls-edit-info" style="display:none; width:100%">
                                                        <div style="width:100%;">
                                                            <div style=" width:100%; float:left;">
                                                                <input style="width: 90%; float:left;" type="password" value="" tabindex="8" placeholder="Password" name="New Password" data-val-required="Password is required" data-val-length-min="5" data-val-length-max="50" data-val-length="Must be between 5 and 50 characters" data-val="true" class="form-control text-box single-line">

                                                                <input style="width: 90%; float:left; margin-top: 5px;" type="password" value="" tabindex="9" placeholder="Confirm Password" name="confirmPassword" data-val-equalto-other="*.password" data-val-equalto="Passwords must match" data-val="true" class="form-control text-box single-line">
                                                            </div>
                                                            <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                                <p style="color:red"></p>
                                                            </div>
                                                            <div style="width:100%; margin-top: 5px; float:left;">
                                                                <a href="javascript:;" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                                <a href="javascript:;" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-top:10px;">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <button id="id-edit-profile-btn" tabindex="10" class="form-control btn btn-register">Save</button>
                                                    <input id="id-password" type="hidden" name="password" value="@Model.Password" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.UserId != userSession.UserId)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help us to know what's happening</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-1">
                                <div>
                                    <img src="@Model.Avatar" height="100px" width="70px">
                                    <p>By @Model.FirstName @Model.LastName</p>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="1">This post annoying or unpleasant</label>
                                    </div>
                                </div>

                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="2">I think this post should not appear on FlyAwayPlus</label>
                                    </div>
                                </div>

                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="3">This post is spam</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" disabled id="closeBtn">Report</button>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/datepicker")

<script>
    var userDetailModule = (function () {
        var sendRequestFriend = function () {
            var controller = "/User/SendRequestFriend/";
            var data = {
                userId: @userSession.UserId,
                otherUserId: @Model.UserId
            };

            commonModule.callAjax(controller, data, null);
        };

        var unfriend = function () {
            var controller = "/User/Unfriend";
            var data = {
                userId: @Model.UserId,
                utherUserId: @userSession.UserId
                };

            commonModule.callAjax(controller, data, null);
        };

        var editProfileAjax = function(selector) {
            var controller = "/User/EditProfile";
            var firstName = $(selector).find("input[name='firstName']").closest(".form-group").find("b").text();
            var lastName = $(selector).find("input[name='lastName']").closest(".form-group").find("b").text();
            var address = $(selector).find("input[name='address']").closest(".form-group").find("b").text();
            var gender = $(selector).find("input[name='gender']:checked").val();
            var phoneNumber = $(selector).find("input[name='phoneNumber']").closest(".form-group").find("b").text();
            var dateOfBirth = $(selector).find("input[name='dateOfBirth']").closest(".form-group").find("b").text();
            var password = $("#id-password").val();

            if(address.split("Please input").length > 1) {
                address = "";
            }
            if(phoneNumber.split("Please input").length > 1) {
                phoneNumber = "";
            }
            if(dateOfBirth.split("Please input").length > 1) {
                dateOfBirth = "";
            }

            var data = {
                firstName: firstName,
                lastName: lastName,
                address: address,
                gender: gender,
                phoneNumber: phoneNumber,
                dateOfBirth: dateOfBirth,
                password: password
            };

            commonModule.callAjax(controller, data, null);
        };

        return {
            sendRequestFriend: sendRequestFriend,
            editProfileAjax: editProfileAjax,
            unfriend: unfriend
        };
    })();

    $(document).ready(function () {
        // Datetime picker.
        $('#id_register_dob').datepicker({
            format: "yyyy-mm-dd"
        });

        $('.edit-dob').datepicker({
            format: "yyyy-mm-dd"
        });

        $("#id-view-all-friend").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                //alert("x");
                $("#myFriend").modal("show");
                evt.handled = true;
            }
        });

        $("#id-edit-profile-btn").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                userDetailModule.editProfileAjax($("#id-edit-profile"));
                $("#id-profile-modal").modal('hide');

                evt.handled = true;
            }
        });

        $('input:radio[name=optradio]').click(function () {
            var checkval = $(this).val();
            $('#closeBtn').prop('disabled', (checkval == null));

        });

        $('#closeBtn').click(function (e) {

            var controller = "/User/ReportUser/";
            var data = {
                userReportId: parseInt('@Session["UserId"]'),
                userReportedId: @Model.UserId,
                typeReport: $('input[name="optradio"]:checked').val()
            };

            commonModule.callAjax(controller, data, null);

            alert("This user has been reported!");
            e.preventDefault();
        });

        $("#idAddfriend").click(function (evt) {
            userDetailModule.sendRequestFriend();
            $(this).hide();
            $("#idRequestFriend").show();
            evt.preventDefault();
        });

        $("#idUnfriend").click(function (evt) {
            userDetailModule.unfriend();
            $(this).hide();
            $("#idAddfriend").show();
            evt.preventDefault();
        });

        var editIcon = $("#id-edit-profile").find(".cls-display-info").find(".glyphicon-edit");
        $(editIcon).click(function(evt) {
            var parent = $(this).closest(".form-group");
            $(parent).find(".cls-edit-info").show();
            $(parent).find(".cls-display-info").hide();

            $(editIcon).hide();
            evt.preventDefault();
        });

        $("#id-edit-profile").find(".cls-edit-ok").click(function(evt) {
            var parent = $(this).closest(".form-group");

            if($(this).closest(".cls-edit-info").find("input").length > 1) {
                // password
                var input = $(this).closest(".cls-edit-info").find("input");
                var password =$(input[0]).val();
                var passwordConfirmed =$(input[1]).val();

                if(password == "") {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password is required");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(passwordConfirmed == "") {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password Confirm is required");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(password.length < 5 || password.length > 50) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password must be between 5 and 50 characters");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(password != passwordConfirmed) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password must match");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }

                $("#id-password").val(password);
                $(this).closest(".cls-edit-info").find("input").text("").val("");
            }
            else {
                // other field
                var input = $(this).closest(".cls-edit-info").find("input");
                var value = $(input).val();

                if(($(input).attr("name") == "phoneNumber" && isNaN(value)) || (value.trim() == "" && $(input).attr("name") != "phoneNumber")) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                $(this).closest(".cls-edit-info").find(".cls-error-message").hide();
                $(this).closest(".form-group").find(".cls-display-info").find("b").text(value);
            }

            $(parent).find(".cls-edit-info").hide();
            $(parent).find(".cls-display-info").show();
            $(editIcon).show();
            evt.preventDefault();
        });

        $("#id-edit-profile").find(".cls-edit-cancel").click(function(evt) {
            var parent = $(this).closest(".form-group");

            if($(this).closest(".cls-edit-info").find("input").length > 1) {
                $(this).closest(".cls-edit-info").find("input").text("").val("");
            }
            else {
                var value = $(parent).find(".cls-display-info").find("b").text().trim();
                if(value.split("Please input").length > 1) {
                    value = "";
                }
                $(this).closest(".cls-edit-info").find("input").text(value).val(value);
            }
            $(this).closest(".cls-edit-info").find(".cls-error-message").hide();
            $(parent).find(".cls-edit-info").hide();
            $(parent).find(".cls-display-info").show();
            $(editIcon).show();
            evt.preventDefault();
        });
    });

    $(function () {
        $('a.follow').click(function () {
            $(this).toggleClass('followed');

            if ($(this).hasClass('followed')) {
                $(this).text('Request sent');
                $('.profile-stats ul li:last-child').html('325<span>Friends</span>');
            }
            else {
                $(this).text('Add friend');
                $('.profile-stats ul li:last-child').html('324<span>Friends</span>');
            }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var conWidth = $("#photos-gallery").width();
            //my container width
            var gridwidth = 212;
            //alert(conWidth);
            var col = conWidth / gridwidth;
            //alert(col);
            $(".images-wrapper").BlocksIt({
                numOfCol: Math.floor(col)
            });
        });

        $(".image-element").hover(function () {
            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.stop().animate({ top: '20px' }, "slow");
        }, function () {
            var postActions = $(this).find(".post-actions");

            postActions.stop().animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });

        $(".fancybox").attr('rel', 'gallery').fancybox({
            openEffect: 'fade',
            closeEffect: 'elastic',
            padding: 2,
            afterLoad: function () {
                this.title = '<p class="text-center">' + this.title + '</p>';
            },
            helpers: {
                title: {
                    type: 'inside'
                },
                overlay: {
                    css: {
                        'background': 'rgba(58, 42, 45, 0.5)'
                    }
                }
            }
        });
    });

    function fadeImage() {
        $(".dark-wrapper").hover(function () {
            $(this).find("img").stop().fadeTo(500, 0.5);

            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.stop().animate({ top: '20px' }, "slow");
        }, function () {
            $(this).find("img").stop().fadeTo(500, 1);

            var postActions = $(this).find(".post-actions");

            postActions.stop().animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });
    };

    $(window).load(function () {
        commonModule.setBlocksit($(".blog-landing"), 212);
        fadeImage();
    });

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($(".blog-landing"), 212);
    });
</script>