@model FlyAwayPlus.Models.User
@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listPost = ViewData["listPostDict"] as Dictionary<string, List<FlyAwayPlus.Models.Post>>;
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, FlyAwayPlus.Models.Photo>;
    var listPlaceDict = ViewData["listPlaceDict"] as Dictionary<int, FlyAwayPlus.Models.Place>;
    var timeline = ViewData["timeline"] as List<string>;
    var friend = ViewData["friend"] as List<FlyAwayPlus.Models.User>;
}
<link href="~/Content/UserPage/WOW slider/wow-style.css" rel="stylesheet" />
<link href="~/Content/speech-buble.css" rel="stylesheet" />

<!-- Image Slide -->
<div>
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><a href="#" target="_blank"><img src="~/Images/background/halong.jpg" alt="Ha Long" title="Ha Long" id="wows1_0" /></a></li>
                <li><a href="#" target="_blank"><img src="~/Images/background/nhatrang.jpg" alt="Nha Trang" title="Nha Trang" id="wows1_1" /></a></li>
                <li><a href="#" target="_blank"><img src="~/Images/background/sondoong.jpg" alt="Son Doong" title="Son Doong" id="wows1_2" /></a></li>
            </ul>
        </div>
        <div class="ws_shadow"></div>
    </div>
    <script src="~/Scripts/WOW slider/wowslider.js"></script>
    <script src="~/Scripts/WOW slider/script.js"></script>
    <!-- End WOWSlider.com BODY section -->
</div>

<!-- Ava + Info -->
<div class="col-md-12 frame-container padding-top-30">
    <div class="col-md-10">
        <div class="col-md-2">
            <img src="@Model.avatar" class="circle-image" alt="Avatar" />
        </div>
        <div class="col-md-10">
            <p class="triangle-border left">I am Duc Filan, 22 years old, from Vinh city. I have travelled to 3 places in the world.<br /> Add me as your friend and be on my trips!</p>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%">
            <span class="glyphicon glyphicon-plus"></span>
            Add as friend
        </button>
        <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%">
            <span class="glyphicon glyphicon-envelope"></span>
            Conversation
        </button>
    </div>
</div>

<div class="vertical-space-15"></div>

<!-- Friend list -->
<div class="col-md-12 frame-container" style="margin-top: 30px">
    <h3 class="text-center text-capitalize">MY FRIENDS</h3>
    @if (friend.Count > 17)
    {
        for (int index = 0; index < 17; index++)
        {
            <div class="padding-5 col-md-2">
                <img class="circle-image" height="50" src="@friend[index].avatar" alt="Avatar" />
                <a href="/User/Index/@friend[index].userID"><p class="small text-center">@String.Format("{0} {1}", @friend[index].firstName, @friend[index].lastName)</p></a>
            </div>
        }
        <div class="padding-5 col-md-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myFriend">...</button>
        </div>
    }
    else
    {
        foreach (var userFriend in friend)
        {
            <div class="padding-5 col-md-2">
                <img class="circle-image" height="50" src="@userFriend.avatar" alt="Avatar" />
                <a href="#"><p class="small text-center">@String.Format("{0} {1}", userFriend.firstName, userFriend.lastName)</p></a>
            </div>
        }
        if (friend.Count == 0)
        {
            <p>@String.Format("{0} {1} has no friends", @Model.firstName, @Model.lastName)</p>
        }
    }
</div>

<!-- Timeline -->
<div class="container">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="timeline">
                <dl>
                    @for (int index = 0, indexPost = 0; index < timeline.Count; index++)
                    {
                        <dt>@timeline[index]</dt>
                        foreach (var post in listPost[timeline[index]])
                        {
                            var posPosition = (indexPost % 2 == 0) ? "pos-right" : "pos-left";
                            var style = (indexPost % 2 == 0) ? "width: 150px; margin-left: -150px;" : "";
                            indexPost++;
                            
                            <dd class="@posPosition clearfix">
                                <div class="circ"></div>
                                <div class="time" style="@style">@post.toRealtime()</div>
                                <div class="events">
                                    <div class="pull-left">
                                        <img class="events-object img-rounded" src="@Model.avatar">
                                    </div>
                                    <div class="events-body">
                                        <h4 class="events-heading">@listPlaceDict[@post.postID].name</h4>
                                        <p>@post.content</p>
                                    </div>
                                </div>
                            </dd>
                        }
                    }
                </dl>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
@if (friend.Count > 17)
{
    <div class="modal fade" id="myFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 40px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Friend List</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var userFriend in friend)
                        {
                            <div class="padding-5 col-md-2">
                                <img class="circle-image" height="50" src="@userFriend.avatar" alt="Avatar" />
                                <a href="/User/Index/@userFriend.userID"><p class="small text-center">@String.Format("{0} {1}", userFriend.firstName, userFriend.lastName)</p></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
