@model FlyAwayPlus.Models.User
@using FlyAwayPlus.Models;
@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var listPhotoDict = ViewData["listPhotoDict"] as Dictionary<int, List<Photo>>;
    var listPlaceDict = ViewData["listPlaceDict"] as Dictionary<int, Place>;
    var friend = ViewData["friend"] as List<User>;
    var userSession = ViewData["userSession"] as User;
    var listPost = ViewData["listPost"] as List<Post>;
    string friendType = ViewData["isFriend"].ToString();

    var listPhoto = ViewData["listPhoto"] as List<Photo>;
    var listPlace = ViewData["listPlace"] as List<Place>;
    var listVideo = ViewData["listVideo"] as List<Video>;
}

<script src="~/Scripts/jquery.cropit.js"></script>
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />

<header>
    <figure class="profile-banner">
        <div id="image-cropper">
            <div class="cropit-image-preview"></div>
            <input type="file" class="cropit-image-input hidden" />
        </div>
    </figure>
    <figure class="profile-picture" style="background-image: url('@Model.Avatar?@DateTime.Now.TimeOfDay.TotalMilliseconds')">
        @if (Model.UserId == userSession.UserId)
        {
            <button class="btn btn-primary hidden"
                    id="btn-edit-avatar"
                    data-toggle="modal"
                    data-target="#edit-avatar-modal" 
                    style="position: absolute;top: 55px;left: 50px;">
                Edit
            </button>
        }
    </figure>
    <div class="profile-stats">
        <ul role="tablist">
            <li role="presentation"><a href="javascript:void(0)">@String.Format("{0} {1}", Model.FirstName, Model.LastName)</a></li>
            <li role="presentation"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">@listPost.Count<span>Post</span></a></li>
            <li role="presentation"><a id="btn-place-list" href="#place-list" aria-controls="place-list" role="tab" data-toggle="tab">@listPlaceDict.Count <span>Places</span></a></li>
            <li role="presentation"><a id="btn-photo-list" href="#photos-gallery" aria-controls="photos-gallery" role="tab" data-toggle="tab">@listPhoto.Count <span>Photos</span></a></li>
            <li role="presentation"><a href="#video-list" style="margin-right:10px;" aria-controls="video-list" role="tab" data-toggle="tab">@listVideo.Count <span>Videos</span></a></li>
        </ul>

        <div class="interact-area">
            @if (Model.UserId == userSession.UserId)
            {
                <button class="btn btn-primary pull-right hidden" id="btn-edit-cover-done"><i class="fa fa-check"></i>Done</button>
                <button class="btn btn-primary pull-right" id="btn-edit-cover">Edit cover</button>
                <a href="javascript:void(0)" id="idEditProfile" data-toggle="modal" data-target="#id-profile-modal" class="btn btn-primary pull-right" style="margin-right: 10px">Profile <i class="glyphicon glyphicon-user"></i></a>
            }
            else if (friendType.Equals("friend"))
            {
                <a href="javascript:void(0)" id="idUnfriend" class="btn btn-primary pull-right">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:void(0)" id="idAddfriend" class="btn btn-primary pull-right" style="display: none">Request friend</a>
                <a href="javascript:void(0)" id="idRequestFriend" class="btn btn-primary pull-right" style="display: none">Friend request sent</a>
                <a href="javascript:void(0)" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
            else if (friendType.Equals("request"))
            {
                <a href="javascript:void(0)" id="idUnfriend" class="btn btn-primary pull-right" style="display: none">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:void(0)" id="idAddfriend" class="btn btn-primary pull-right" style="display: none">Request friend</a>
                <a href="javascript:void(0)" id="idRequestFriend" class="btn btn-primary pull-right">Friend request sent</a>
                <a href="javascript:void(0)" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
            else
            {
                <a href="javascript:void(0)" id="idUnfriend" class="btn btn-primary pull-right" style="display: none">Unfriend <i class="glyphicon"></i></a>
                <a href="javascript:void(0)" id="idAddfriend" class="btn btn-primary pull-right">Request friend</a>
                <a href="javascript:void(0)" id="idRequestFriend" class="btn btn-primary pull-right" style="display: none">Friend request sent</a>
                <a href="javascript:void(0)" id="idReport" class="btn btn-primary pull-right" style="margin-right: 10px" data-toggle="modal" data-target="#myModal">Report</a>
            }
        </div>
    </div>
</header>

<div class="vertical-space-15"></div>

<!-- Friend list -->
<div class="col-md-12 frame-container">
    <div class="friend-list-header friend-title-header" style="overflow: hidden; padding-top: 25px;">
        <span class="text-capitalize">MY FRIENDS</span>
    </div>

    <div class="friend-list-avatar">
        @if (friend.Count > 17)
        {
            for (int index = 0; index < 17; index++)
            {
                <div class="padding-5 col-md-2">
                    <a href="/User/Index/@friend[index].UserId" class="hover-card-user">
                        <img class="circle-image" height="50" src="@friend[index].Avatar" alt="Avatar" />
                    </a>
                </div>
            }
        }
        else
        {
            foreach (var userFriend in friend)
            {
                <div class="padding-5 col-md-2">
                    <div class="padding-5 col-md-2">
                        <a href="/User/Index/@userFriend.UserId" class="hover-card-user">
                            <img class="circle-image" height="50" src="@userFriend.Avatar" alt="Avatar" />
                        </a>
                    </div>
                </div>
            }
            if (friend.Count == 0)
            {
                <p>@String.Format("{0} {1} has no friends", @Model.FirstName, @Model.LastName)</p>
            }
        }
    </div>
    <div class="friend-list-header view-more-friend-title" style="overflow:hidden; padding-top: 25px;">
        <span id="id-view-all-friend" class="text-capitalize" style="display: block;">VIEW ALL</span>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="timeline">
        <div>
            <div class="col-md-12" style="margin-left: 10px;">

                <div class="blog-landing">
                    @Html.Partial("_ListPost")
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="photos-gallery">
        <div class="images-wrapper" style="margin-left: 10px;">
            @if (listPhotoDict != null)
            {
                foreach (var image in listPhotoDict)
                {
                    if (image.Value != null && image.Value.Any())
                    {
                        <div class="image-element">
                            <img src="@(image.Value.FirstOrDefault() == null ? "/Image/UIHelper/default-avatar.jpg" : "/Images/UserUpload/" + image.Value.First().Url)" class="img-zoom" alt="" />
                            <div class="dark-wrapper">
                                <ul class="post-actions" style="padding-left: 0;">
                                    <li>
                                        <a href="@(image.Value.FirstOrDefault() == null ? "/Image/UIHelper/default-avatar.jpg" : "/Images/UserUpload/" + image.Value.First().Url)" rel="group"
                                           class="btn btn-primary fancybox"
                                           title="@listPlaceDict.First(p => p.Key == @image.Key).Value.Name"
                                           style="width: 90px">Enlarge</a>
                                    </li>
                                    <li>
                                        <a href="/Post/Index/@image.Key" class="btn btn-primary" style="width: 90px">View post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="place-list">
        <div class="container" style="margin-top: 100px;">
            <div id="id-place-map" style="width:100%; height: 500px;"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="video-list">
        <div style="margin-top: 100px;" class="container">
            @foreach (var video in listVideo)
            {
                <div style="width:auto; float:left; margin-left: 30px; margin-bottom: 20px;" class="video-overlay">
                    <a class="fancybox fancybox.iframe" href="http://www.youtube.com/embed/@video.Path?enablejsapi=1&wmode=opaque">
                        <img src="http://img.youtube.com/vi/@video.Path/0.jpg" alt="@video.Path">
                        <span class="video-thumbnail-button"></span>
                    </a>
                </div>
            }
        </div>
    </div>

    <!-- Timeline -->
    <!-- Modal -->
    <div class="modal fade" id="myFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 40px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Friend List</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var userFriend in friend)
                        {
                            <div class="padding-5 col-md-2">
                                <img class="circle-image" height="50" src="@userFriend.Avatar" alt="Avatar" />
                                <a href="/User/Index/@userFriend.UserId"><p class="small text-center hover-card-user">@String.Format("{0} {1}", userFriend.FirstName, userFriend.LastName)</p></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.UserId == userSession.UserId)
{
    <div class="modal fade" id="id-profile-modal" role="dialog" aria-labelledby="id-profile-modal" aria-hidden="true">
        <div class="modal-dialog login-modal-wrap">
            <div class="modal-content">
                <div class="modal-body login-modal-body">
                    <div class="panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="javascript:void(0)" class="active">Profile</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="id-edit-profile" style="margin-top: -15px">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="FirstName" style="width: 90%; float:left;" type="text" value="@Model.FirstName" class="form-control" placeholder="First Name" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">First Name is required</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>First Name: </span><span><b>@Model.FirstName</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="LastName" style="width: 90%; float:left;" type="text" value="@Model.LastName" class="form-control" placeholder="Last Name" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">Last Name is required</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Last Name: </span><span><b>@Model.LastName</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; display: none;">
                                                        <div style="width:100%; float:left; margin-top:5px;">
                                                            <input name="PhoneNumber" style="width: 90%; float:left;" type="text" value="@Model.PhoneNumber" class="form-control" placeholder="Phone Number" />
                                                        </div>
                                                        <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                            <p style="color:red">Phone Number must be a number</p>
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Phone number: </span>
                                                        @if (Model.PhoneNumber.IsEmpty())
                                                        {
                                                            <span><b>Please input your phonenumber</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.PhoneNumber</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-edit-info" style="width:100%; margin-top:5px; display: none;">
                                                        <div style="width:100%; float:left;">
                                                            <input name="DateOfBirth" style="width: 90%; float:left;" type="text" value="@Model.DateOfBirth" class="form-control edit-dob" placeholder="DOB" />
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>DOB: </span>
                                                        @if (Model.DateOfBirth.IsEmpty())
                                                        {
                                                            <span><b>Please input your DOB</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.DateOfBirth</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="text-align: center">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    @if (Model.Gender.Equals("male"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="male" name="Gender" data-val-required="Gender is required" data-val="true" checked> Male
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="male" name="Gender" data-val-required="Gender is required" data-val="true"> Male
                                                        </label>
                                                    }

                                                    @if (Model.Gender.Equals("female"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="female" name="Gender"> Female
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="female" name="Gender"> Female
                                                        </label>
                                                    }

                                                    @if (Model.Gender.Equals("other"))
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="other" name="Gender"> Other
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="radio-inline">
                                                            <input type="radio" value="other" name="Gender"> Other
                                                        </label>
                                                    }
                                                    <br />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Address: </span>
                                                        @if (Model.Address.IsEmpty())
                                                        {
                                                            <span><b>Please input your address</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                        else
                                                        {
                                                            <span><b>@Model.Address</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                        }
                                                    </div>
                                                    <div class="cls-edit-info" style="width:100%; display:none">
                                                        <div style="width:100%; float:left;">
                                                            <input name="Address" style="width: 90%; float:left;" type="text" value="@Model.Address" class="form-control text-box single-line" placeholder="address" />
                                                        </div>
                                                        <div style="width:100%; margin-top: 5px; float:left;">
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                            <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div style="width:100%;">
                                                        <span>Email: </span>
                                                        <span><b>@Model.Email</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <div class="cls-display-info" style="width:100%;">
                                                        <span>Password: </span>
                                                        <span><b>******</b><a href="javascript:void(0)" style="float:right;"><i class="glyphicon glyphicon-edit"></i></a></span>
                                                    </div>
                                                    <div class="cls-edit-info" style="display:none; width:100%">
                                                        <div style="width:100%;">
                                                            <div style=" width:100%; float:left;">
                                                                <input style="width: 90%; float:left;" type="password" value="" tabindex="8" placeholder="Password" name="New Password" data-val-required="Password is required" data-val-length-min="5" data-val-length-max="50" data-val-length="Must be between 5 and 50 characters" data-val="true" class="form-control text-box single-line">

                                                                <input style="width: 90%; float:left; margin-top: 5px;" type="password" value="" tabindex="9" placeholder="Confirm Password" name="ConfirmPassword" data-val-equalto-other="*.password" data-val-equalto="Passwords must match" data-val="true" class="form-control text-box single-line">
                                                            </div>
                                                            <div class="cls-error-message" style="width:100%; float:left; display:none">
                                                                <p style="color:red"></p>
                                                            </div>
                                                            <div style="width:100%; margin-top: 5px; float:left;">
                                                                <a href="javascript:void(0)" class="btn btn-primary cls-edit-ok" style="margin-left: 20%; width: 70px;">OK <i class="glyphicon"></i></a>
                                                                <a href="javascript:void(0)" class="btn btn-primary cls-edit-cancel" style="margin-left: 10px; width: 70px;">Cancel <i class="glyphicon"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" style="margin-top:10px;">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <button id="id-edit-profile-btn" tabindex="10" class="form-control btn btn-register">Save</button>
                                                    <input id="id-password" type="hidden" name="Password" value="@Model.Password" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.UserId != userSession.UserId)
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help us to know what's happening</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-1">
                                <div>
                                    <img src="@Model.Avatar" height="auto" width="100">
                                    <p>By @Model.FirstName @Model.LastName</p>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="1">This user annoying or unpleasant</label>
                                    </div>
                                </div>

                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="2">I think this user should not appear on FlyAwayPlus</label>
                                    </div>
                                </div>

                                <div class="row" style="margin-left: 20px">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" value="3">This user is clone</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" disabled id="closeBtn">Report</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" id="edit-avatar-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="text-align: center; padding: 10px">
                <div id="avatar-editor">
                    <input type="file" class="hidden cropit-ava-input">
                    <div class="cropit-ava-preview"></div>
                    <button class="btn btn-default" id="edit-ava-select-btn" style="margin-top: 10px">Choose image</button>
                    <div class="ava-size-label">
                        Resize avatar
                    </div>
                    <input type="range" class="cropit-ava-zoom-input">
                    <button class="btn btn-primary" id="edit-ava-save-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/datepicker")

<script>
    $(document).ready(function () {
        // Datetime picker.
        $('#id_register_dob').datepicker({
            format: "yyyy-mm-dd"
        });

        $('.edit-dob').datepicker({
            format: "yyyy-mm-dd"
        });

        // Edit cover.
        $('#image-cropper').cropit({
            imageState: {
                src: '@(string.IsNullOrWhiteSpace(userSession.CoverUrl) ? "/Images/background/nhatrang.jpg" : userSession.CoverUrl + "?" + @DateTime.Now.TimeOfDay.TotalMilliseconds)'
            },
            onImageError: function () {
                swal("Oops...", "An error occured. Please try again or contact admin for help.", "error");
            },
            smallImage: 'stretch'
        });
        $('#image-cropper').cropit('disable');

        $('#btn-edit-cover').click(function () {
            $('#btn-edit-cover').toggleClass('hidden');
            $('#btn-edit-cover-done').toggleClass('hidden');

            $('#image-cropper').cropit('reenable');

            $('.cropit-image-input').click();

            $('.cropit-image-preview').css('cursor', 'move');
        });

        $('#btn-edit-cover-done').click(function() {
            $('#btn-edit-cover').toggleClass('hidden');
            $('#btn-edit-cover-done').toggleClass('hidden');

            $('#image-cropper').cropit('disable');
            $('.cropit-image-preview').css('cursor', 'default');

            saveImageToDb('#image-cropper', 'cover');
        });

        // Edit avatar.
        $('.profile-picture').hover(function() {
            $('#btn-edit-avatar').toggleClass('hidden');
        },function() {
            $('#btn-edit-avatar').toggleClass('hidden');
        });

        var avaEditorWrapper = $('#avatar-editor');

        $('#avatar-editor').cropit({
            $preview: avaEditorWrapper.find('.cropit-ava-preview'),
            $fileInput: avaEditorWrapper.find('.cropit-ava-input'),
            $zoomSlider: avaEditorWrapper.find('.cropit-ava-zoom-input'),
            imageState: {
                src: '@Model.Avatar'
            },
            onImageError: function () {
                swal("Oops...", "An error occured. Please try again or contact admin for help.", "error");
            },
            smallImage: 'stretch'
        });

        $('#edit-ava-select-btn').click(function () {
            avaEditorWrapper.cropit('reenable');

            $('.cropit-ava-input').click();
        });

        $('#edit-ava-save-btn').click(function () {
            saveImageToDb('#avatar-editor', 'avatar');
            $('#edit-avatar-modal').modal('hide');
        });

        $("#id-view-all-friend").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                //alert("x");
                $("#myFriend").modal("show");
                evt.handled = true;
            }
        });

        $("#id-edit-profile-btn").click(function(evt) {
            if (evt.handled !== true) { // This will prevent event triggering more then once
                userDetailModule.editProfileAjax($("#id-edit-profile"));
                $("#id-profile-modal").modal('hide');

                evt.handled = true;
            }
        });

        $('input:radio[name=optradio]').click(function () {
            var checkval = $(this).val();
            $('#closeBtn').prop('disabled', (checkval == null));
        });

        $('#closeBtn').click(function (e) {

            $.ajax({
                url: "/User/ReportUser/",
                type: 'POST',
                dataType: 'json',
                data: {
                    userReportId: parseInt('@Session["UserId"]'),
                    userReportedId: parseInt('@Model.UserId'),
                    typeReport: $('input[name="optradio"]:checked').val()
                },
                success: function (data) {
                    if (data == true) {
                        alert("This user has been reported!");
                    } else {
                        alert("You have already report this user!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            e.preventDefault();
        });

        $("#idAddfriend").click(function (evt) {
            userDetailModule.sendRequestFriend();
            $(this).hide();
            $("#idRequestFriend").show();
            evt.preventDefault();
        });

        $("#idUnfriend").click(function (evt) {
            userDetailModule.unfriend();
            $(this).hide();
            $("#idAddfriend").show();
            evt.preventDefault();
        });

        var editIcon = $("#id-edit-profile").find(".cls-display-info").find(".glyphicon-edit");
        $(editIcon).click(function(evt) {
            var parent = $(this).closest(".form-group");
            $(parent).find(".cls-edit-info").show();
            $(parent).find(".cls-display-info").hide();

            $(editIcon).hide();
            evt.preventDefault();
        });

        $("#id-edit-profile").find(".cls-edit-ok").click(function(evt) {
            var parent = $(this).closest(".form-group");

            if($(this).closest(".cls-edit-info").find("input").length > 1) {
                // password
                var input = $(this).closest(".cls-edit-info").find("input");
                var password =$(input[0]).val();
                var passwordConfirmed =$(input[1]).val();

                if(password == "") {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password is required");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(passwordConfirmed == "") {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password Confirm is required");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(password.length < 5 || password.length > 50) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password must be between 5 and 50 characters");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                if(password != passwordConfirmed) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").find("p").text("Password must match");
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }

                $("#id-password").val(password);
                $(this).closest(".cls-edit-info").find("input").text("").val("");
            }
            else {
                // other field
                var input = $(this).closest(".cls-edit-info").find("input");
                var value = $(input).val();

                if(($(input).attr("name") == "phoneNumber" && isNaN(value)) || (value.trim() == "" && $(input).attr("name") != "phoneNumber")) {
                    $(this).closest(".cls-edit-info").find(".cls-error-message").show();
                    return;
                }
                $(this).closest(".cls-edit-info").find(".cls-error-message").hide();
                $(this).closest(".form-group").find(".cls-display-info").find("b").text(value);
            }

            $(parent).find(".cls-edit-info").hide();
            $(parent).find(".cls-display-info").show();
            $(editIcon).show();
            evt.preventDefault();
        });

        $("#id-edit-profile").find(".cls-edit-cancel").click(function(evt) {
            var parent = $(this).closest(".form-group");

            if($(this).closest(".cls-edit-info").find("input").length > 1) {
                $(this).closest(".cls-edit-info").find("input").text("").val("");
            }
            else {
                var value = $(parent).find(".cls-display-info").find("b").text().trim();
                if(value.split("Please input").length > 1) {
                    value = "";
                }
                $(this).closest(".cls-edit-info").find("input").text(value).val(value);
            }
            $(this).closest(".cls-edit-info").find(".cls-error-message").hide();
            $(parent).find(".cls-edit-info").hide();
            $(parent).find(".cls-display-info").show();
            $(editIcon).show();
            evt.preventDefault();
        });
    });

    $(function () {
        $('#btn-place-list').on('shown.bs.tab', function (e) {
            initialize();
        });
        $('a.follow').click(function () {
            $(this).toggleClass('followed');
            /*
            if ($(this).hasClass('followed')) {
                $(this).text('Request sent');
                $('.profile-stats ul li:last-child').html('325<span>Friends</span>');
            }
            else {
                $(this).text('Add friend');
                $('.profile-stats ul li:last-child').html('324<span>Friends</span>');
            }
            */
        });
        $('#btn-photo-list').on('shown.bs.tab', function (e) {
            var conWidth = $("#photos-gallery").width();
            //my container width
            var gridwidth = 212;
            //alert(conWidth);
            var col = conWidth / gridwidth;
            //alert(col);
            $(".images-wrapper").BlocksIt({
                numOfCol: Math.floor(col)
            });
        });

        $(".image-element").hover(function () {
            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.stop().animate({ top: '20px' }, "slow");
        }, function () {
            var postActions = $(this).find(".post-actions");

            postActions.stop().animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });

        $(".fancybox").attr('rel', 'gallery').fancybox({
            openEffect: 'fade',
            closeEffect: 'elastic',
            padding: 2,
            afterLoad: function () {
                this.title = '<p class="text-center">' + this.title + '</p>';
            },
            helpers: {
                title: {
                    type: 'inside'
                },
                overlay: {
                    css: {
                        'background': 'rgba(58, 42, 45, 0.5)'
                    }
                }
            }
        });
    });

    function saveImageToDb(selector, type) {
        var imageData = $(selector).cropit('export', {
            type: 'image/jpeg',
            quality: .9,
            originalSize: false
        });

        $.ajax({
            url: "/User/SaveImageDataToFile",
            type: "POST",
            data: {imageData: imageData, userId: @userSession.UserId, type: type},
            success: function(data) {
                if (type === 'avatar') {

                    // Prevent caching image.
                    var param = new Date().getTime();
                    $('.profile-picture').css("background-image", "url('" + data + "?" + param + "')");
                    $('#id-avatar-current-user').attr("src", data + "?" + param);
                }
            },
            error: function() {
                swal("Oops...", "An error occured, please try again!", "error");
            }
        });
    }

    function fadeImage() {
        $(".dark-wrapper").hover(function () {
            $(this).find("img").stop().fadeTo(500, 0.5);

            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.stop().animate({ top: '20px' }, "slow");
        }, function () {
            $(this).find("img").stop().fadeTo(500, 1);

            var postActions = $(this).find(".post-actions");

            postActions.stop().animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });
    };


    var userDetailModule = (function () {
        var sendRequestFriend = function () {
            var controller = "/User/SendRequestFriend/";
            var data = {
                userID: parseInt('@userSession.UserId'),
                otherUserID: parseInt('@Model.UserId')
            };

            commonModule.callAjax(controller, data, null);
        };

        var unfriend = function () {
            var controller = "/User/Unfriend";
            var data = {
                userID: parseInt('@Model.UserId'),
                otherUserID: parseInt('@userSession.UserId')
            };

            commonModule.callAjax(controller, data, null);
        };

        var editProfileAjax = function (selector) {
            var controller = "/User/EditProfile";
            var firstName = $(selector).find("input[name='firstName']").closest(".form-group").find("b").text();
            var lastName = $(selector).find("input[name='lastName']").closest(".form-group").find("b").text();
            var address = $(selector).find("input[name='address']").closest(".form-group").find("b").text();
            var gender = $(selector).find("input[name='gender']:checked").val();
            var phoneNumber = $(selector).find("input[name='phoneNumber']").closest(".form-group").find("b").text();
            var dateOfBirth = $(selector).find("input[name='dateOfBirth']").closest(".form-group").find("b").text();
            var password = $("#id-password").val();

            if (address.split("Please input").length > 1) {
                address = "";
            }
            if (phoneNumber.split("Please input").length > 1) {
                phoneNumber = "";
            }
            if (dateOfBirth.split("Please input").length > 1) {
                dateOfBirth = "";
            }

            var data = {
                firstName: firstName,
                lastName: lastName,
                address: address,
                gender: gender,
                phoneNumber: phoneNumber,
                dateOfBirth: dateOfBirth,
                password: password
            };

            commonModule.callAjax(controller, data, null);
        };

        return {
            sendRequestFriend: sendRequestFriend,
            editProfileAjax: editProfileAjax,
            unfriend: unfriend
        };
    })();

    function initialize() {
        // Marker Place
        var listPlace = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(listPlace)'.split('&quot;').join('"'));
        if (listPlace.length > 0) {
            var myCenter = new window.google.maps.LatLng(listPlace[0]["Latitude"], listPlace[0]["Longitude"]);
            var myStyles = [
                {
                    "featureType": "administrative.country",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": " on"
                        },
                        {
                            "color": "rgb(231, 231, 231)"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "off"
                        },
                        {
                            "hue": "#1900ff"
                        },
                        {
                            "color": "#c0e8e8"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": 100
                        },
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        },
                        {
                            "lightness": 700
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        { invert_lightness: true }
                    ]
                }
            ];

            var mapOptions = {
                zoom: 3,
                center: myCenter,
                disableDefaultUI: true,
                mapTypeId: window.google.maps.MapTypeId.ROADMAP,
                styles: myStyles
            };
            var map = new window.google.maps.Map(document.getElementById('id-place-map'), mapOptions);

            for (var index = 0; index < listPlace.length; index++) {
                (function (index) {
                    var otherMaker = new window.google.maps.Marker({
                        position: new window.google.maps.LatLng(listPlace[index]["Latitude"], listPlace[index]["Longitude"]),
                        icon: {
                            url: '/Images/other-marker.png'
                        },
                        map: map
                    });
                    var infoOther = new window.google.maps.InfoWindow({
                        content: '<div id="iw_container_' + index + '">' +
                         '<div class="iw_title">' + listPlace[index]["Name"] + '</div>' +
                         '</div>',
                        maxWidth: 200
                    });
                    window.google.maps.event.addListener(otherMaker, 'mouseover', function () {
                        infoOther.open(map, otherMaker);
                    });
                    window.google.maps.event.addListener(otherMaker, 'mouseout', function () {
                        infoOther.close();
                    });
                    window.google.maps.event.addListener(otherMaker, 'click', function () {
                        document.location.href = document.location.origin + '/Search/SearchDetail/' + listPlace[index]["PlaceId"];
                    });
                })(index);
            }
        }
    }

    $(window).load(function () {
        commonModule.setBlocksit($(".blog-landing"), 215);
        fadeImage();
    });

    //window resize
    $(window).resize(function () {
        commonModule.setBlocksit($(".blog-landing"), 215);
    });
</script>
